<div fxLayout="column">
  <mat-toolbar color="accent" class="mat-elevation-z2 slim">
    <span class="subheading-1">Change Password </span>
  </mat-toolbar>
  <style>
    .password-meter {
      margin-top: 2px 5px;
      background-color: #ccc;
      height: 8px;
    }

    .progress-bar {
      height: 100%;
      transition: width 0.3s ease;
    }
  </style>
  <!--(submit)="changepasswordform.valid && openDialog(myForm)"-->
  <form #myForm="ngForm" novalidate [formGroup]="changepasswordform">
    <div mat-dialog-content>
      <div fxLayout="column">

        <div fxFlex="40%">
          <mat-form-field fxFlex>
            <input type="password" formControlName="OldPassword" placeholder="Old Password" matInput maxlength="20"
              required />
            <mat-label>Old Password</mat-label>
            <mat-error *ngIf="OldPassword.invalid && OldPassword.errors.required">Old Password is
              <strong>required</strong></mat-error>
            <mat-error *ngIf="OldPassword.invalid && OldPassword.errors.Invalid">Invalid Old Password.</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="40%">
          <mat-form-field fxFlex>
            <input tabindex="-1" [matMenuTriggerFor]="menu" (click)="isOpen = !isOpen" [attr.aria-expanded]="isOpen"
              type="password" formControlName="NewPassword" placeholder="New Password" matInput maxlength="14"  minlength="8"
              required />
            <mat-label>New Password</mat-label>
            <mat-error *ngIf="NewPassword.invalid && NewPassword.errors.required">New Password is
              <strong>required</strong></mat-error>
              <mat-error *ngIf="NewPassword.hasError('AlreadyExisted')"> Password already used, set a other password.
              </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="40%">
          <mat-form-field fxFlex>
            <input tabindex="-1" type="password" formControlName="ConfirmPassword" placeholder="ConfirmPassword"
              matInput maxlength="20" required />
            <mat-label>Confirm Password</mat-label>
            <mat-error *ngIf="ConfirmPassword.invalid && ConfirmPassword.errors.required">Confirm Password is
              <strong>required</strong></mat-error>
            <mat-error *ngIf="ConfirmPassword.hasError('mismatch')">New Password does not match the confirm password
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <mat-menu #menu="matMenu" [class.menu-open]="isOpen">
      <div class="main" style="padding:12px !important;color: #00000096;" *ngIf="passwordErrors.length > 0">
        <h6>Pick a Password</h6>
        <mat-divider></mat-divider>

        <ul *ngIf="passwordErrors.length > 0">
          <div class="password-meter">
            <div class="progress-bar" [style.width]="progressBarWidth"
              [ngStyle]="{ 'background-color': progressBarColor }"></div>
          </div>
          <mat-divider></mat-divider>

          <p style="margin: 1px 0px;">Suggestions</p>
          <span mat-menu-item *ngFor="let error of passwordErrors">
            <li>{{ error }}</li>
          </span>
        </ul>
      </div>

    </mat-menu>

    <div mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="myForm"
        [disabled]="!myForm.valid || passwordStrength !=6" cdkFocusInitial>Change Password</button>
      <button mat-raised-button color="warn" (click)="dialogRef.close()">Close</button>
    </div>
  </form>
</div>
