<style>
  .ui-confirmdialog-message {
    white-space: pre-line;
  }
</style>

<!--<mat-toolbar color="primary"><p>{{ title }}</p></mat-toolbar>
<div fxflex="100%">{{ message }}</div>
<button type="button" color="primary" mat-raised-button
        (click)="dialogRef.close(true)">
  Yes
</button>
<button type="button" color="warn" mat-raised-button
        (click)="dialogRef.close(false)">
  No
</button>-->



  <h2 mat-dialog-title>&nbsp;{{ title }}</h2>

<br />
<div mat-dialog-content><span class="ui-confirmdialog-message"><pre style="background-color:white!important;">{{ message }}</pre></span></div>

<br />
<br />


<div mat-dialog-actions align="end">
  &nbsp;&nbsp;
  <button class="btn btn-warning" mat-raised-button color="warn" (click)="dialogRef.close(false)">Close</button>

</div>

