
 <mat-card-content>
  <div class="main-content" >
    <mat-toolbar color="accent" class="mat-elevation-z8 slim slim">
        <mat-icon class="material-icons">notifications_active</mat-icon>
        <span class="spacer">{{NotificationDetail.NotificationName}}</span>
        <span style="color: #ffe976;"> {{NotificationDetail.DateDiff}} </span>
       <a style="cursor: pointer;"> <div class="spacer" style="padding-left: 75%;"> <mat-icon style="color: white;"  (click)="onNoClick()" class="material-icons">close</mat-icon></div></a>
      </mat-toolbar>
     
      <div  fxLayout="column" class="mat-elevation-z8">
        <div style="text-align:left;" class="col-sm-12 no-padding">
          <div class="card text-center">
            <div *ngIf="CheckIfTable==false">
              <div style="text-align: initial;overflow: scroll;height: 300px;margin-left: 20px;"> 
                {{NotificationDetail?.Body}}
              </div>
          </div>
          <div *ngIf="CheckIfTable==true">
             <div class="card-body" style="text-align: left;overflow: scroll;text-align: left;height: 260px;" [innerHTML]="NotificationDetail?.Body">
               <!--  <p style="text-align: left;overflow: scroll;text-align: left;height: 260px;" class="card-text">{{NotificationDetail?.Body}}</p> -->
            </div>
          </div>
        </div>
        </div>
      </div>
  </div>
 <br>
</mat-card-content>