[*.cs]

# Default severity for analyzer diagnostics with category 'Reliability'
dotnet_analyzer_diagnostic.category-Reliability.severity = none

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = all:suggestion
