<div class="comp-main-div">
  <mat-divider></mat-divider>
  <mat-card>
    <mat-card-content>
      <div>
        <mat-toolbar color="accent" class="mat-elevation-z8 slim slim">
          <mat-icon class="material-icons">view_comfy</mat-icon>
          <span class="spacer">Manage and View All</span>
          <div class="spacer"></div>
          <!-- <input
            type="text"
            placeholder="Search"
            (keyup)="applyFilter($event.target.value)"
            class="search"
          /> -->
        </mat-toolbar>
        <div class="row">
          <div class="col-md-12 text-right">
            <button
              type="button"
              class="btn btn-primary"
              (click)="syncBranches()"
            >
              Sync Branches
            </button>
          </div>
        </div>
        <div fxLayout="column" class="mat-elevation-z8">
          <mat-table [dataSource]="dtProcess" matSort>
            <ng-container matColumnDef="BranchId">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Branch Id</mat-header-cell
              >
              <mat-cell *matCellDef="let Row"> {{ Row.BranchId }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="BranchName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Branch Name</mat-header-cell
              >
              <mat-cell *matCellDef="let Row">
                {{ Row.BranchName }}
              </mat-cell>
            </ng-container>
            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
          <mat-paginator
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 25, 100]"
          ></mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
