
.mat-cell {
  flex: 0 0 220px;
}
/*.mat-column-Sr {
  flex: 0 0 50px;
  justify-content: center;
}
.mat-column-Check {
  flex: 0 0 50px;
  justify-content: center;
}*/
.mat-header-cell {
  flex: 0 0 220px;
}
.RowError {
  background-color: floralwhite;
}
