::mat-dialog-actions {
  // ...
  &[align='end'] {
    justify-content: flex-end;
  }

  &[align='center'] {
    justify-content: center;
  }
}




h2{
  background-color:cornflowerblue
}

.md-button.md-raised:not([disabled]) {
  box-shadow: 0 2px 5px 0 cornflowerblue;
}
.button {
  color: forestgreen
}
