<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="c:\temp\internal-nlog.txt">
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <!-- the targets to write to -->
  <targets>
    <!--<target name="database" xsi:type="Database" connectionString="Server=PK-LHR-ITS-143;initial catalog=PSDF_DB;User id=sa;Password=Abacus123;">-->
    <target name="database" xsi:type="Database" connectionString="${configsetting:item=ConnectionStrings.Mcn}">
      <commandText>
        insert into dbo.LogApplication (
        Level
        ,ApplicationName
        ,MachineName
        ,RequestURL
        ,IPAddress
        ,Logger
        ,Message
        ,Exception
        ,Callsite
        ,ControllerName
        ,ActionName
        ,ActionArguments
        ,ActionResponse
        ,UserID
        ,UserName
        ,UserEmail
        ,LogTime
        )
        values (
        @Level
        ,@ApplicationName
        ,@MachineName
        ,@RequestURL
        ,@IPAddress
        ,@Logger
        ,@Message
        ,@Exception
        ,@Callsite
        ,@ControllerName
        ,@ActionName
        ,@ActionArguments
        ,@ActionResponse
        ,@UserID
        ,@UserName
        ,@UserEmail
        ,@LogTime
        );
      </commandText>
      <parameter name="@Level" layout="${level}" />
      <parameter name="@ApplicationName" layout="AspNetCoreNlog" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@RequestURL" layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}" />
      <!--<parameter name="@IPAddress" layout="v4: ${local-ip:cachedSeconds=60} | v6: ${local-ip:cachedSeconds=60:addressFamily=InterNetworkV6}" />-->
      <parameter name="@IPAddress" layout="${aspnet-request-ip}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Exception" layout="${exception:format=@}" />
      <parameter name="@Callsite" layout="${callsite:filename=true}" />
      <parameter name="@ControllerName" layout="${event-properties:item=ControllerName}" />
      <parameter name="@ActionName" layout="${event-properties:item=ActionName}" />
      <parameter name="@ActionArguments" layout="${event-properties:item=Arguments}" />
      <parameter name="@ActionResponse" layout="${event-properties:item=ActionResponse}" />
      <parameter name="@UserID" layout="${event-properties:item=UserId}" />
      <parameter name="@UserName" layout="${event-properties:item=UserName}" />
      <parameter name="@UserEmail" layout="${event-properties:item=UserEmail}" />
      <parameter name="@LogTime" layout="${date}" />
    </target>
  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Error" writeTo="database" />
  </rules>
</nlog>