

.mat-column-GenerateReport {
  flex: 0 0 200px;
}.mat-column-SchemeName {
  flex: 0 0 150px;
}.mat-column-TSPName {
  flex: 0 0 150px;
}.mat-column-ClassCode {
  flex: 0 0 150px;
}.mat-column-CreatedDate {
  flex: 0 0 150px;
}
.mat-column-StartDate {
  flex: 0 0 150px;
}.mat-column-TSPName {
  flex: 0 0 150px;
}.mat-column-TraineesPerClass {
  flex: 0 0 150px;
}.mat-column-Curriculum {
  flex: 0 0 200px;
}
.mat-column-AddressOfTrainingLocation {
  flex: 0 0 250px;
}.mat-column-CPName {
  flex: 0 0 200px;
}.mat-column-CPLandline {
  flex: 0 0 200px;
}.mat-column-IsApproved {
  flex: 0 0 100px;
}.mat-column-NTP {
  flex: 0 0 100px;
}.mat-column-Duration {
  flex: 0 0 150px;
}.mat-column-TradeName {
  flex: 0 0 100px;
}
.mat-column-District {
  flex: 0 0 100px;
}.mat-column-TehsilName {
  flex: 0 0 100px;
}
.mat-column-GenerateRTPReport {
  flex: 0 0 200px;
}.mat-column-RejectRTP {
  flex: 0 0 200px;
}
