<router-outlet></router-outlet>


<div *ngIf="processing" id="loader">

  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <!--<div class="loader loader__inner"></div><div class="loader loader__outer"></div>-->
  <!--Loader Roller-->
  <!--<div class="main lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>-->
  <!--Widnows Like loader-->
  <!--<div class="main wrapper">

    <div class="loader">
      <span class="pip-0"></span>
      <span class="pip-1"></span>
      <span class="pip-2"></span>
      <span class="pip-3"></span>
      <span class="pip-4"></span>
      <span class="pip-5"></span>
    </div>
  </div>-->
  <!--<div class="main">
    <h1 style="color: #fdb813">Loading...</h1>
  </div>-->

</div>



<!--//BSS previous loaders-->

<!--<div *ngIf="processing" id="loader">-->

  <!--<div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>-->
<!--</div>-->
