<div class="comp-main-div">
  <mat-card>
    <mat-card-content>
      <div>
        <mat-toolbar color="accent" class=" slim slim">
          <mat-icon class="material-icons">view_comfy</mat-icon>
          <span class="spacer">PRN Approval Requests</span>
          <div class="spacer"></div>
          <div class="col-sm-2">
            <button mat-raised-button color="success" style="float:right" *ngIf="PRNMaster?.length > 0"
              (click)="GetByPRNMasterIDs()">Export Excel</button>
          </div>
          <input type="text" placeholder="Search" (keyup)="applyFilter($event.target.value)" class="search" />
        </mat-toolbar>
        <!--<div fxLayout="column">-->
        <!--<div class="row">
    <div class="col-sm-3">
      <mat-form-field fxFlex>
        <mat-label>Process</mat-label>
        <mat-select #process [(ngModel)]="processKey" (selectionChange)="GetPRNForApproval()" matInput>
          <mat-option value="" selected>-- All --</mat-option>
          <mat-option [value]="enumApprovalProcess.PRN_R">Regular</mat-option>
          <mat-option [value]="enumApprovalProcess.PRN_C">SRN</mat-option>
          <mat-option [value]="enumApprovalProcess.PRN_F">Final</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field fxFlex>
        <mat-label>Month</mat-label>
        <input matInput #ref [matDatepicker]="customDatePicker" [formControl]="month" readonly>
        <button mat-icon-button matSuffix (click)="clearMonth();"><mat-icon>close</mat-icon></button>
        <mat-datepicker-toggle matSuffix [for]="customDatePicker"></mat-datepicker-toggle>
        <mat-datepicker startView="multi-year" #customDatePicker (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, customDatePicker)"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>-->
        <!--<div class="table-responsive">
    <mat-table [dataSource]="matTableData" matSort>
      <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
      <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
        <mat-cell *matCellDef="let Row">
          <a color="primary" mat-button (click)="openApprovalDialogue(Row)">
            Decision
          </a>
        </mat-cell>
        <mat-cell *matCellDef="let Row">
          <a color="primary" mat-button (click)="GetPRNForApproval(Row.PRNMasterID)">
            Decision
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="InvoiceNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> TSPName</mat-header-cell>
        <mat-cell *matCellDef="let Row"> {{Row.TSPName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="InvoiceNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Month</mat-header-cell>
        <mat-cell *matCellDef="let Row"> {{Row.Month}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="InvoiceNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Number</mat-header-cell>
        <mat-cell *matCellDef="let Row"> {{Row.InvoiceNumber}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="InvoiceNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created Date</mat-header-cell>
        <mat-cell *matCellDef="let Row"> {{Row.CreadtedDate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="IsApproved">
        <mat-header-cell *matHeaderCellDef mat-sort-header> IsApproved</mat-header-cell>
        <mat-cell *matCellDef="let Row"> {{Row.IsApproved}} </mat-cell>
      </ng-container>
    </mat-table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
      </div>-->

        <div class="row">
          <div class="col-sm-2">
            <mat-form-field fxFlex>
              <mat-label>Process</mat-label>
              <mat-select #process [(ngModel)]="processKey" (selectionChange)="GetPRNMasterForApproval()" matInput>
                <mat-option value="" selected>-- All --</mat-option>
                <mat-option *ngFor="let item of processTypes" [value]="item.value">{{item.text}}</mat-option>
                <!--<mat-option [value]="enumApprovalProcess.PRN_R">Regular</mat-option>
        <mat-option [value]="enumApprovalProcess.PRN_C">Completion</mat-option>
        <mat-option [value]="enumApprovalProcess.PRN_T">PRN_T</mat-option>
        <mat-option [value]="enumApprovalProcess.PRN_F">Final</mat-option>-->
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-2">
            <mat-form-field fxFlex>
              <mat-label>Month</mat-label>
              <input matInput #ref [matDatepicker]="customDatePicker" [formControl]="month" readonly>
              <button mat-icon-button matSuffix (click)="clearMonth();">
                <mat-icon>close</mat-icon>
              </button>
              <mat-datepicker-toggle matSuffix [for]="customDatePicker"></mat-datepicker-toggle>
              <mat-datepicker startView="multi-year" #customDatePicker (yearSelected)="chosenYearHandler($event)"
                (monthSelected)="chosenMonthHandler($event, customDatePicker)"></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-sm-2">
            <mat-form-field fxFlex>
              <mat-select placeholder="KAM" [(ngModel)]="filters.KAMID" (openedChange)="EmptyCtrl()"
                (selectionChange)="GetPRNMasterForApproval()" id="kamuserid" matInput required>
                <mat-optgrp disabled class="ddlsrchheader"> <input type="text" (keydown)="$event.stopPropagation()"
                    [formControl]="SearchKAM" /></mat-optgrp>
                <mat-option value="0">--Select--</mat-option>
                <mat-option *ngFor="let item of kamusers | like:['UserName',SearchKAM.value]" [value]="item.UserID">
                  {{item.UserName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field fxFlex>
              <mat-select #scheme placeholder="Scheme" [(ngModel)]="filters.SchemeID" (openedChange)="EmptyCtrl()"
                (selectionChange)="GetPRNMasterForApproval()" id="SchemeId" matInput required>
                <mat-optgrp disabled class="ddlsrchheader"> <input type="text" (keydown)="$event.stopPropagation()"
                    [formControl]="SearchSch" /></mat-optgrp>
                <mat-option value="0">--Select--</mat-option>
                <mat-option *ngFor="let s of schemes | like:['SchemeName',SearchSch.value]" [value]="s.SchemeID">
                  {{s.SchemeName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!--<div class="col-sm-3">
  <mat-form-field fxFlex>
    <mat-select #tsp placeholder="TSP" [(ngModel)]="filters.TSPID" (openedChange)="EmptyCtrl()" (selectionChange)="GetPRNMasterForApproval()" id="TspId" matInput required>
      <mat-optgrp disabled class="ddlsrchheader"> <input type="text" (keydown)="$event.stopPropagation()" [formControl]="SearchTSP" autofocus /></mat-optgrp>
      <mat-option value="0">--Select--</mat-option>
      <mat-option *ngFor="let s of tsps | like:['TSPName',SearchTSP.value]" [value]="s.TSPID">{{s.TSPName}}</mat-option>-->
          <!--| like:['TSPName',SearchTSP.value] | where :['SchemeID',filters.SchemeID]-->
          <!--</mat-select>
    </mat-form-field>
  </div>-->

          <div class="col-sm-3">
            <mat-form-field fxFlex>
              <mat-select #tsp placeholder="TSP" [(ngModel)]="filters.TSPMasterID" (openedChange)="EmptyCtrl()"
                (selectionChange)="GetPRNMasterForApproval()" id="TspMasterId" matInput required>
                <mat-optgrp disabled class="ddlsrchheader"> <input type="text" (keydown)="$event.stopPropagation()"
                    [formControl]="SearchTSP" autofocus /></mat-optgrp>
                <mat-option value="0">--Select--</mat-option>
                <mat-option *ngFor="let s of tspMasters | like:['TSPName',SearchTSP.value]" [value]="s.TSPMasterID">
                  {{s.TSPName}}</mat-option>
                <!--| like:['TSPName',SearchTSP.value] | where :['SchemeID',filters.SchemeID]-->
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-3">
            <mat-form-field fxFlex>
              <mat-select placeholder="Status" [(ngModel)]="filters.StatusID" (openedChange)="EmptyCtrl()"
                (selectionChange)="GetPRNMasterForApproval()" id="StatusId" matInput required>
                <mat-optgrp disabled class="ddlsrchheader"> <input type="text" (keydown)="$event.stopPropagation()"
                    [formControl]="SearchStatus" /></mat-optgrp>
                <mat-option value="0" selected>-- All --</mat-option>
                <mat-option value="1">Pending (Step 1)</mat-option>
                <mat-option value="2">Pending (Step 2)</mat-option>
                <mat-option value="3">Approved</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>

        <div class="row">


        </div>


        <div class="text-center" *ngIf="!PRNMaster">
          <p>No Pending Approval</p>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive" *ngIf="PRNMaster" #TABLE>
              <table class="table table-bordered d-md-table">
                <thead>
                  <tr>
                    <th>Sr#</th>
                    <th>Actions</th>
                    <th>Approved</th>
                    <th>Process Name</th>
                    <th>TSP Name</th>
                    <th>TSP Color</th>
                    <th>Month</th>
                    <th>Invoice Number</th>
                    <th>CreatedDate</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let r of PRNMaster; let i=index">
                    <tr>
                      <td class="sm" [attr.rowspan]="r.HasPRN? 2:null">
                        {{i+1}}<a color="primary" matTooltip="PRN Detail" mat-icon-button (click)="GetPRN(r)">
                          <!--<mat-icon>details</mat-icon>-->
                          <mat-icon>{{r.HasPRN ?'remove_circle':'control_point' }}</mat-icon>
                        </a>
                      </td>
                      <td class="sm">
                        <a color="primary" matTooltip="Decision" mat-icon-button (click)="checkTSPColor(r)">
                          <mat-icon>grading</mat-icon>
                        </a>

                        <a color="primary" mat-icon-button matTooltip="Export to Excel"
                          (click)="ExportToExcel(r.PRNMasterID, r.ProcessKey, r.Month)">
                          <mat-icon>get_app</mat-icon>
                        </a>
                      </td>
                      <td>
                        <!--(Step {{r.ApprovalStepID}})-->
                        <span *ngIf="r.IsApproved !=0" class="text-success"><b>Approved</b></span>
                        <span *ngIf="r.IsApproved ==0" class="text-danger"><b>Pending (Step
                            {{r.ApprovalStepID}})</b></span>
                      </td>
                      <td>{{r.ApprovalProcessName}}</td>
                      <td>{{r.TSPName}}</td>
                      <!--<td><span class="circle" style="background-color: {{Row.TSPColorCode}};color:Row.TSPColorCode"></span>&nbsp;&nbsp;{{r.TSPColorName}}</td>-->
                      <!--<td class="circle" [ngStyle]="{'background-color': r.TSPColorCode}" style="margin-left:10%"></td>-->
                      <td><span class="badge {{r.TSPColorName}}">{{r.TSPColorName}}</span></td>
                      <!--<td>{{r.TSPColorName}}</td>-->
                      <td class="number-align-center">{{r.Month | date:environment.MonthFormat}}</td>
                      <td class="number-align-center">{{r.InvoiceNumber}}</td>
                      <td class="number-align-center">{{r.CreatedDate | date:environment.DateTimeFormat}}</td>
                    </tr>
                    <!--Nested Grid for PRN Table-->
                    <tr *ngIf="r.HasPRN" [@enterAnimation]>
                      <td colspan="8">
                        <div class="table-responsive">
                          <table class="table table-bordered" style="color:lightslategrey">
                            <thead>
                              <tr>
                                <th>Sr#</th>
                                <th class="sm">Documents</th>
                                <th>Class Code</th>
                                <th>Invoice No</th>
                                <th>Trade</th>
                                <th>Certification Authority</th>
                                <th>Duration</th>
                                <th>Class Start Date</th>
                                <th>Class End Date</th>
                                <th>Class Status</th>
                                <th>Contractual Trainees</th>
                                <th>Claimed Trainees</th>
                                <th>Enrolled Trainees</th>
                                <th>CNIC Verified</th>
                                <th>CNIC Verified Excesses</th>
                                <th>Dropouts Verified</th>
                                <th>Expelled Verified</th>
                                <th
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  Pass Verified</th>
                                <th
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  Failed Verified</th>
                                <th
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  Absent Verified</th>
                                <th>CNIC Unverified</th>
                                <th>CNIC UnVerified Excesses</th>
                                <th>Dropouts Unverified</th>
                                <th>Expelled UnVerified</th>
                                <th
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  Pass Unverified</th>
                                <th
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  Failed Unverified</th>
                                <th
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  Absent Unverified</th>
                                <th
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  Dropout (Pass/Fail/Absent)</th>
                                <th
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  Expelled (Pass/Fail/Absent)</th>
                                <th *ngIf="r.ProcessKey == enumApprovalProcess.PRN_R">NonFunctional Visit 1</th>
                                <th *ngIf="r.ProcessKey == enumApprovalProcess.PRN_R">NonFunctional Visit 2</th>
                                <th *ngIf="r.ProcessKey == enumApprovalProcess.PRN_R">NonFunctional Visit 3</th>
                                <th *ngIf="r.ProcessKey == enumApprovalProcess.PRN_R">NonFunctional Visit 1 Date</th>
                                <th *ngIf="r.ProcessKey == enumApprovalProcess.PRN_R">NonFunctional Visit 2 Date</th>
                                <th *ngIf="r.ProcessKey == enumApprovalProcess.PRN_R">NonFunctional Visit 3 Date</th>
                                <th>Deduction Since Inception Dropout</th>
                                <th>Max Attendance</th>
                                <th>Payment Withheld Physical Count</th>
                                <th>Deduction Marginal</th>
                                <th
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  Deduction Extra Registered For Exam</th>
                                <th
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  Deduction Failed Trainees</th>
                                <th
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  Deduction Uniform Bag Receiving</th>
                                <th>Payment Withheld Since Inception UnV CNIC</th>
                                <th>Penalty TPM Reports</th>
                                <th>Penalty Imposed By MnE</th>
                                <th>Reimbursement UnV Trainees</th>
                                <th>Reimbursement Attandance</th>
                                <th *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F">Employment Commitment Percentage
                                </th>
                                <th *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F">Completed Trainees</th>
                                <th *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F">Employment Commitment Trainees
                                </th>
                                <th *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F">Employment Reported</th>
                                <th *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F">Verified Trainees</th>
                                <th *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F">Verified to Commitment</th>
                                <th *ngIf="r.ProcessKey == enumApprovalProcess.PRN_R">Expelled Regular Verified For The
                                  Month</th>
                                <th *ngIf="r.ProcessKey == enumApprovalProcess.PRN_C">Certification Cost Deduction (All
                                  Types)</th>
                                <!--<th *ngIf="r.ProcessKey == enumApprovalProcess.PRN_C">Extra Trainee Deduction</th>
  <th *ngIf="r.ProcessKey == enumApprovalProcess.PRN_C">Unverified Deduction</th>-->
                                <!--<th *ngIf="r.ProcessKey == enumApprovalProcess.PRN_C">Dropout Testing Cost Deduction</th>-->

                                <th>Payment To Be Released Trainees</th>
                                <th>Status</th>
                                <th>Approval Date</th>
                                <th>Creation Date</th>
                                <th *ngIf="r.ProcessKey == enumApprovalProcess.PRN_C && r.PenaltyBtn"> Action</th>
                                <th *ngIf="r.ProcessKey == enumApprovalProcess.PRN_R &&  r.ApprovalStepID=='1'"> Action</th>
                             
                                <!--<th>DropOut</th>
  <th>Trainees Found In VISIT 1</th>
  <th>Trainees Found In VISIT 2</th>
  <th>Payment 100p</th>
  <th>Payment 50p</th>
  <th>CreatedDate</th>-->
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let c of r.PRN; let i=index">
                                <td>{{i+1}}</td>
                                <td class="sm">
                                  <a color="primary" mat-icon-button matTooltip="View Previouse Documents"
                                    (click)="GetClassMonthview(c.ClassID,c.Month,r.ProcessKey)">
                                    <mat-icon>visibility</mat-icon>
                                  </a>
                                </td>

                                <td style="color: #005b9e;"> <a class="myAnchor"
                                    (click)="openClassJourneyDialogue(c.ClassID)"> <strong>{{c.ClassCode}}</strong> </a>
                                </td>
                                <td class="number-align-center">{{c.InvoiceNumber}}</td>
                                <td>{{c.TradeName}}</td>
                                <td>{{c.CertAuthName}}</td>
                                <td class="number-align-center">{{c.Duration}}</td>
                                <td class="number-align-center">{{c.ClassStartDate | date:environment.DateFormat}}</td>
                                <td class="number-align-center">{{c.ClassEndDate | date:environment.DateFormat}}</td>
                                <td class="number-align-center">{{c.ClassStatus}}</td>
                                <td class="number-align-center">{{c.ContractualTrainees}}</td>
                                <td class="number-align-center">{{c.ClaimedTrainees}}</td>
                                <td class="number-align-center">{{c.EnrolledTrainees}}</td>
                                <td class="number-align-center">{{c.CNICVerified}}</td>
                                <td class="number-align-center">{{c.CNICVExcesses}}</td>
                                <td class="number-align-center">{{c.DropoutsVerified}}</td>
                                <td class="number-align-center">{{c.ExpelledVerified}}</td>
                                <td class="number-align-center"
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  {{c.PassVerified}}</td>
                                <td class="number-align-center"
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  {{c.FailedVerified}}</td>
                                <td class="number-align-center"
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  {{c.AbsentVerified}}</td>
                                <td class="number-align-center">{{c.CNICUnverified}}</td>
                                <td class="number-align-center">{{c.CNICUnVExcesses}}</td>
                                <td class="number-align-center">{{c.DropoutsUnverified}}</td>
                                <td class="number-align-center">{{c.ExpelledUnverified}}</td>
                                <td class="number-align-center"
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  {{c.PassUnverified}}</td>
                                <td class="number-align-center"
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  {{c.FailedUnverified}}</td>
                                <td class="number-align-center"
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  {{c.AbsentUnverified}}</td>
                                <td class="number-align-center"
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  {{c.DropoutPassFailAbsent}}</td>
                                <td class="number-align-center"
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  {{c.ExpelledPassFailAbsent}}</td>
                                <td class="number-align-center" *ngIf="r.ProcessKey == enumApprovalProcess.PRN_R">
                                  {{c.NonFunctionalVisit1}}</td>
                                <td class="number-align-center" *ngIf="r.ProcessKey == enumApprovalProcess.PRN_R">
                                  {{c.NonFunctionalVisit2}}</td>
                                <td class="number-align-center" *ngIf="r.ProcessKey == enumApprovalProcess.PRN_R">
                                  {{c.NonFunctionalVisit3}}</td>
                                <td class="number-align-center"
                                  *ngIf="c.NonFunctionalVisit1 == 'Yes' && r.ProcessKey == enumApprovalProcess.PRN_R">
                                  {{c.NonFunctionalVisit1Date | date:environment.DateFormat}}</td>
                                <td class="number-align-center"
                                  *ngIf="c.NonFunctionalVisit1 != 'Yes' && r.ProcessKey == enumApprovalProcess.PRN_R">
                                  {{'N/A'}}</td>
                                <td class="number-align-center"
                                  *ngIf="c.NonFunctionalVisit2 == 'Yes' && r.ProcessKey == enumApprovalProcess.PRN_R">
                                  {{c.NonFunctionalVisit2Date | date:environment.DateFormat}}</td>
                                <td class="number-align-center"
                                  *ngIf="c.NonFunctionalVisit2 != 'Yes' && r.ProcessKey == enumApprovalProcess.PRN_R">
                                  {{'N/A'}}</td>
                                <td class="number-align-center"
                                  *ngIf="c.NonFunctionalVisit3 == 'Yes' && r.ProcessKey == enumApprovalProcess.PRN_R">
                                  {{c.NonFunctionalVisit3Date | date:environment.DateFormat}}</td>
                                <td class="number-align-center"
                                  *ngIf="c.NonFunctionalVisit3 != 'Yes' && r.ProcessKey == enumApprovalProcess.PRN_R">
                                  {{'N/A'}}</td>
                                <td class="number-align-center">{{c.DeductionSinIncepDropout}}</td>
                                <td class="number-align-center">{{c.MaxAttendance}}</td>
                                <td class="number-align-center">{{c.PaymentWithheldPhysicalCount}}</td>
                                <td class="number-align-center">{{c.DeductionMarginal}}</td>
                                <td class="number-align-center"
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  {{c.DeductionExtraRegisteredForExam}}</td>
                                <td class="number-align-center"
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  {{c.DeductionFailedTrainees}}</td>
                                <td class="number-align-center"
                                  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F || r.ProcessKey == enumApprovalProcess.PRN_C">
                                  {{c.DeductionUniformBagReceiving}}</td>
                                <td class="number-align-center">{{c.PaymentWithheldSinIncepUnVCNIC}}</td>
                                <td class="number-align-center">{{c.PenaltyTPMReports}}</td>
                                <td class="number-align-center">{{c.PenaltyImposedByME}}</td>
                                <td class="number-align-center">{{c.ReimbursementUnVTrainees}}</td>
                                <td class="number-align-center">{{c.ReimbursementAttandance}}</td>
                                <td class="number-align-center" *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F">
                                  {{c.EmploymentCommitmentPercentage}}</td>
                                <td class="number-align-center" *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F">
                                  {{c.CompletedTrainees}}</td>
                                <td class="number-align-center" *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F">
                                  {{c.GraduatedCommitmentTrainees}}</td>
                                <td class="number-align-center" *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F">
                                  {{c.EmploymentReported}}</td>
                                <td class="number-align-center" *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F">
                                  {{c.VerifiedTrainees}}</td>
                                <td class="number-align-center" *ngIf="r.ProcessKey == enumApprovalProcess.PRN_F">
                                  {{c.VerifiedToCompletedCommitment}} %</td>
                                <td class="number-align-center" *ngIf="r.ProcessKey == enumApprovalProcess.PRN_C">
                                  {{c.ExtraTraineeDeductCompletion + c.UnVDeductCompletion + c.DropOutDeductCompletion + c.AbsentDeductCompletion}}
                                </td>
                                <td class="number-align-center" *ngIf="r.ProcessKey == enumApprovalProcess.PRN_R">
                                  {{c.ExpelledRegularVerifiedForTheMonth}}</td>
                                <!--<td class="number-align-center" *ngIf="r.ProcessKey == enumApprovalProcess.PRN_C">{{c.UnVDeductCompletion}}</td>-->
                                <!--<td class="number-align-center" *ngIf="r.ProcessKey == enumApprovalProcess.PRN_C">{{c.DropOutDeductCompletion}}</td>-->

                                <td class="number-align-center">
                                  {{c.PaymentToBeReleasedTrainees }}
                                  <a mat-button color="primary" *ngIf="c.InvoiceNumber > 1" (click)="getPTBRTrainees(c)"
                                    [ngbPopover]="popContent" popoverTitle="Previous History">
                                    Previous
                                  </a>
                                  <ng-template #popContent>
                                    <table>
                                      <thead>
                                        <tr>
                                          <th>Month</th>
                                          <th>Released Trainees</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let t of c.previousPTBRTrainees">
                                          <td class="number-align-center">{{t.Month | date:environment.MonthFormat}}
                                          </td>
                                          <td class="number-align-center">{{t.PaymentToBeReleasedTrainees}}</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </ng-template>
                                </td>
                                <td class="number-align-center">{{c.StatusApproved}}</td>
                                <td class="number-align-center">{{c.FinalApprovalDate | date:environment.DateFormat}}
                                </td>
                                <td class="number-align-center"> r.ProcessKey</td>
                                <td  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_R && r.ApprovalStepID=='1'">
                                  <a color="primary"
                                    *ngIf="r.ProcessKey == enumApprovalProcess.PRN_R && r.ApprovalStepID=='1'"
                                    matTooltip="Penalty Imposed By ME &  Deduction Uniform Bag Receiving"
                                    mat-icon-button (click)="openDialogPenaltyImposedByME(c)">
                                    <mat-icon>subtitles</mat-icon>
                                  </a>
                                </td>
                                <td  *ngIf="r.ProcessKey == enumApprovalProcess.PRN_C  && r.PenaltyBtn">
                                  <a color="primary" 
                                    matTooltip="Penalty Imposed By ME &  Deduction Uniform Bag Receiving"
                                    mat-icon-button (click)="openDialogPenaltyImposedByME(c)">
                                    <mat-icon>subtitles</mat-icon>
                                  </a>
                                </td>

                                <!--<td>{{c.DropOut}}</td>
  <td>{{c.TraineesFoundInVISIT1}}</td>
  <td>{{c.TraineesFoundInVISIT2}}</td>
  <td>{{c.Payment100p}}</td>
  <td>{{c.Payment50p}}</td>
  <td>{{c.CreatedDate | date:environment.DateTimeFormat}}</td>-->
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                    <!--Nested Grid ends here-->
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
