.circle {
  border-radius: 5px;
  margin-left: 15%;
  width: 23px;
  height: 15px;
  padding:5px !important;
}
.Yellow {
  color: black;
  background-color: yellow;
  width: 4em;
  padding: 4px;
  /*  border:1px solid black;
*/ font-size: 100%
}
.White {
  color: black;
  background-color: white;
  width: 4em;
  padding: 4px;
  border: 1px solid black;
  font-size: 100%
}
.Red {
  color: white;
  background-color: red;
  width: 4em;
  padding: 4px;
  /*  border: 1px solid black;
*/ font-size: 100%
}
.Black {
  color: white;
  background-color: Black;
  width: 4em;
  padding: 4px;
  /*  border: 1px solid black;
*/ font-size: 100%
}
