<mat-toolbar color="accent" class=" slim slim">
    <mat-icon class="material-icons"> verified_user </mat-icon>
    <span class="spacer">NADRA Verification Process</span>
    <!-- <input readonly [(ngModel)]="CNICNumber" class="search" style="width: 161px;" /> -->
    <mat-icon mat-raised-button color="accent" matDialogClose (click)="statusLoopSubscription.unsubscribe()"
        class="material-icons close-btn">close</mat-icon>
</mat-toolbar>
<mat-card-content>
    <!-- <form (ngSubmit)="scanFingerPrint()" [formGroup]="CriteriaForm"> -->
    <!-- <fieldset class="border rounded">
                <legend>NADRA Verification</legend> -->
    <div class="row  mr-1 ml-1 pt-1 text-center" style="padding: 3px 0px !important;">
        <div class="col-sm-3 border" style="border-top-left-radius: 7px;">
            <!-- <img class="pt-1 img-fluid" width="55" src="../../../assets/PSDF_logo.png" alt=""> -->
            <img class="pt-1 img-fluid" width="90" src="../../../assets/NADRA_logo.png" alt="">
        </div>
        <div class="col-sm-6 border">
            <!-- <a mat-raised-button class="mr-2" style="cursor: default;" color="primary">CNIC:33203-6899043-7</a> -->
            <div class="mt-3">
                <span class="rounded border  pt-2 pb-2 pl-3 pr-3 bg-success "> <strong>CNIC:</strong>
                    {{CNIC}}</span>
            </div>
            <div class="left mt-2">
                <div class="rounded border mt-2 mr-2 pt-2 pb-2 pl-3 pr-3 bg-primary-c">
                    <strong>Attempts Left</strong>:
                    <span>09</span>
                </div>
                <div class="rounded border mt-2 pt-2 pb-2 pl-3 pr-3 bg-warning">
                    <strong>Time Left</strong>:
                    <span>09:30</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 border" style="border-top-right-radius: 7px;">
            <img class="pt-1 img-fluid" width="80" src="../../../assets/PSDF_logo.png" alt="">
            <!-- <img class="pt-1 img-fluid" width="65" src="../../../assets/NADRA_logo.png" alt=""> -->
        </div>
    </div>
    <div class="row ml-1 mr-1 text-center">
        <div class="col-sm-3 border">
            <div class="device-status-container border rounded mt-4">
                <h6 class="status-heading">Device Status</h6>
                <div class="status-wrapper">
                    <div *ngIf="IsDeviceConnected" class="device-status online ">
                        <i class="fas fa-check-circle"></i>
                        <span>Online</span>
                    </div>
                    <div *ngIf="!IsDeviceConnected" class="device-status offline">
                        <i class="fas fa-times-circle"></i>
                        <span>Offline</span>
                    </div>
                </div>
            </div>
            <!-- <mat-form-field>
                            <mat-label>Select Connection</mat-label>
                            <mat-select (openedChange)="emptyCtrl()" [(ngModel)]="selectedConnection" [ngModelOptions]="{standalone: true}" matInput required>
                                <mat-option  value="NADRA Server 1">NADRA Server 1</mat-option>
                                <mat-option  value="NADRA Server 2">NADRA Server 2</mat-option>
                            </mat-select>
                        </mat-form-field> -->
            <div class="device-status-container border rounded mt-3 pl-1 pr-1">
                <h6 class="status-heading">NADRA Connectivity</h6>
                <div class="status-wrapper">
                    <div class="device-status online mr-1">
                        <i class="fas fa-check-circle"></i>
                        <span>Up</span>
                    </div>
                    <!-- <div class="device-status offline mr-1">
                                    <i class="fas fa-times-circle"></i>
                                    <span>Down</span>
                                </div> -->
                </div>
            </div>
            <br>
            <!-- <a mat-raised-button matTooltip="Proceed NADRA Verification" color="primary" [style]="IsDeviceConnected && imgUrl.length>0 ?'background-color:#19a64e ;color:white':''"  (click)="verifyNadraRequest()" [disabled]="!IsDeviceConnected || imgUrl.length==0"> <mat-icon class="material-icons"> verified_user </mat-icon> NADRA</a>  -->
            <!-- <div class="border rounded  mt-1">
                            <strong>
                                <span>Time Left</span><br>
                            </strong>
                            <span>09:30</span>
                        </div> -->
        </div>
        <div class="col-sm-6 border ">
            <img [src]="imgUrl" width="200" class="pt-2 pb-2 img-fluid" alt="" srcset="">
        </div>
        <div class="col-sm-3 border ">
            <mat-form-field>
                <mat-label>Select Index</mat-label>
                <mat-select (openedChange)="emptyCtrl()" [(ngModel)]="selectedIndex"
                    (selectionChange)="GetSelectedIndex($event)" [ngModelOptions]="{standalone: true}" matInput
                    required>
                    <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                            (keydown)="$event.stopPropagation()" /></mat-optgrp>
                    <mat-option *ngFor="let s of fingerPrintArray | like:['Value',BSearchCtr.value]"
                        [value]="s.ID">{{s.Value}}</mat-option>
                </mat-select>
            </mat-form-field>
            <img class="img-fluid" width="85" src="../../../assets/RightHand.png" alt=""><br>
            <img class="img-fluid" width="85" style="position: relative;right: 15px;" src="../../../assets/LeftHand.png"
                alt=""><br>
        </div>
    </div>
    <!-- </fieldset> -->
    <div class="row mb-1 mt-1 pl-1 pr-1">
        <div class="col-sm-12">
            <a mat-raised-button color="primary" class="ml-1" (click)="CaptureSingle()" style="float:right"
                [disabled]="!IsDeviceConnected"><i class="fas fa-fingerprint"></i> Scan Fingerprint</a>
            <a mat-raised-button matTooltip="Proceed NADRA Verification" color="primary" style="float:right"
                [style]="IsDeviceConnected && imgUrl.length>0 ?'background-color:#19a64e ;color:white':''"
                (click)="verifyNadraRequest()" [disabled]="!IsDeviceConnected || imgUrl.length==0"> <mat-icon
                    class="material-icons"> verified_user </mat-icon>Verify NADRA</a>
            <!-- <a mat-raised-button matDialogClose (click)="statusLoopSubscription.unsubscribe()"><i
                        class="fas fa-times"></i> Close</a> -->
        </div>
    </div>
</mat-card-content>