
.device-status-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

.status-heading {
    margin-bottom: 5px; 
}

.status-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.device-status {
    display: flex;
    align-items: center; 
    margin-bottom: 2px; 
}

.device-status i {
    margin-right: 10px; 
    font-size: 20px;
}



.device-status.online i {
    color: #009f39; 
}

.device-status.offline i {
    color: #ff0000; 
}

.close-btn{
    float: right;
    font-size: 26px;
    background: white;
    margin: 2px;
    border-radius: 3px;
}
.bg-success{
    background: #009f39;
    color: white;
}
.bg-primary-c{
    background: #024184;
    color: white;
}
.bg-warning{
    background: #fdb813;
}