
table{
    border: 1px solid #80808029 !important;
}

  // .mat-header-cell {
  //   border: 1px solid #80808029;
  // }

  .mat-sort-header-container {
    align-items: left !important;
    position: relative !important;
    right: 8px !important;
}
  mat-row, mat-header-row, mat-footer-row {
    display: table-row !important;
  }


  mat-cell, mat-header-cell, mat-footer-cell {
    display: table-cell !important;
     vertical-align: middle;
  }
  body .mat-tab-label {
    border-radius: 1px important;
    color: #000;
    margin: 2px !important;
}
body .mat-tab-label-active {
    background: #fdb813 !important;
    color: #000;
}

mat-row, mat-footer-row {
  min-height: 30px !important;
}
.select-all {
  margin: 5px 17px;
}


th {
    background-color: burlywood
  }


  .mat-cell {
    flex: 0 0 220px;
  }

  .mat-header-cell {
    flex: 0 0 220px;
  }


  .mat-cell, .mat-footer-cell {
    border: 0;
    padding: 7px;
  }

  .mat-cell {
    border: 1px solid black;
  }

  .mat-header-cell {
    border: 1px solid black;
  }

  mat-row, mat-footer-row {
    display: table-row !important;
    min-height: 19px !important;
    height: 40px !important;
  }

  mat-header-row {
    min-height: 23px !important;
    display: table-row !important;
  }

  .table-responsive {
    white-space: nowrap !important;
  }

  body .mat-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }


  mat-cell, mat-header-cell, mat-footer-cell {
    display: table-cell !important;
    vertical-align: middle;
  }

  .myAnchor {
    color: #005b9e;
  }


  .myAnchor:hover {
    color: #fbb417;
  }

  .select-all {
    margin: 5px 17px;
  }


.mat-card>:first-child, .mat-card-content>:first-child {
    margin-top: -5px;
}