#main-head {
  background-color: #4786B7;
  text-align: center;
}

select {
  width: 180px;
  height: 40px;
  margin: 10px;
}

.height50
{
    height:50px;
}
.card-header {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-shadow: none;
}
