<div>
  <fieldset class="border">
    <legend>{{ title }}</legend>
    <div class="table-responsive">
      <div>
        <button mat-raised-button color="success" style="width: 320px;float: right;" *ngIf="ExportButtonHideShow" (click)="exportToExcel()">Export Pending Employments Classes to Excel</button>
      </div>
      
      <mat-table [dataSource]="classesArray" matSort class="custom-width">

        <ng-container matColumnDef="TSPName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>TSP Name</mat-header-cell>
          <mat-cell *matCellDef="let Row"> {{Row.TSPName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ClassCode">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Class Code</mat-header-cell>
          <mat-cell *matCellDef="let Row"> {{Row.ClassCode}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ClassStatusName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Class Status</mat-header-cell>
          <mat-cell *matCellDef="let Row"> {{Row.ClassStatusName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Duration">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Duration</mat-header-cell>
          <mat-cell *matCellDef="let Row"> {{Row.Duration}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="StartDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> StartDate</mat-header-cell>
          <mat-cell *matCellDef="let Row"> {{Row.StartDate | date}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="EndDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> EndDate</mat-header-cell>
          <mat-cell *matCellDef="let Row"> {{Row.EndDate | date}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="TrainingAddressLocation">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Address</mat-header-cell>
          <mat-cell *matCellDef="let Row"> {{Row.TrainingAddressLocation}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="TradeName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Trade</mat-header-cell>
          <mat-cell *matCellDef="let Row"> {{Row.TradeName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="GenderName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Gender</mat-header-cell>
          <mat-cell *matCellDef="let Row"> {{Row.GenderName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="TraineesPerClass">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Trainees Per Class</mat-header-cell>
          <mat-cell *matCellDef="let Row"> {{Row.TraineesPerClass}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="TehsilName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Tehsil Name</mat-header-cell>
          <mat-cell *matCellDef="let Row"> {{Row.TehsilName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="CertAuthName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Certification Authority</mat-header-cell>
          <mat-cell *matCellDef="let Row"> {{Row.CertAuthName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="SchemeName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Scheme</mat-header-cell>
          <mat-cell *matCellDef="let Row"> {{Row.SchemeName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="TSPCode">
          <mat-header-cell *matHeaderCellDef mat-sort-header>TSP Code</mat-header-cell>
          <mat-cell *matCellDef="let Row"> {{Row.TSPCode}} </mat-cell>
        </ng-container>
        <!--<ng-container matColumnDef="InceptionReportDueOn">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Inception Report Due On</mat-header-cell>
          <mat-cell *matCellDef="let Row"> {{Row.InceptionReportDueOn | date:'dd-MM-yyy'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="TraineeRegistrationDueOn">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Trainee Registration Due On</mat-header-cell>
          <mat-cell *matCellDef="let Row"> {{Row.TraineeRegistrationDueOn | date:'dd-MM-yyy'}} </mat-cell>
        </ng-container>-->
        <!--<ng-container matColumnDef="NTPStatus">
          <mat-header-cell *matHeaderCellDef mat-sort-header>NTP Status</mat-header-cell>
          <mat-cell *matCellDef="let Row"><span *ngIf="currentUser.UserLevel == enumUserLevel.TSP && (Row.BusinessRuleType == enumBusinessRuleTypes.Community || Row.BusinessRuleType==enumBusinessRuleTypes.CostSharing)"> {{Row.NTPStatus}}</span> </mat-cell>
        </ng-container>-->




        <mat-header-row *matHeaderRowDef="displayedColumnsClass"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsClass;" tabindex="0"></mat-row>
      </mat-table>
      <mat-paginator #PageClass [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </fieldset>
</div>

<div mat-dialog-actions>
  <button mat-button color="primary" (click)="onNoClick()" cdkFocusInitial>Close</button>
</div>


