<div class="row" style="overflow-y: hidden;">
   <div class="col-sm-6 bg text-center text-white py-5">
      <div class="row">
         <div class="col-12">
            <h1 class="fs-1">Welcome to <strong> PSDF </strong></h1>
            <h1><strong> <span class="text-warningA">Online Registration Portal</span> </strong></h1>
         </div>
         <div class="col-12">
            <h1><b> پی ایس ڈی ایف </b> <span class="text-warningA"> آن لائن رجسٹریشن پورٹل </span> <span> میں خوش
                  آمدید</span></h1>
         </div>
      </div>
      <br />
      <div class="row">
         <!-- <div class="col-12">
            <h3>Please watch this video before registration</h3>
         </div>
         <div class="col-12">
            <h3>برائے مہربانی رجسٹریشن سے پہلے یہ مختصر ویڈیو دیکھیں</h3>
         </div>
         <div class="col-12">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 48 48">
               <path fill="red"
                  d="M43.2,33.9c-0.4,2.1-2.1,3.7-4.2,4c-3.3,0.5-8.8,1.1-15,1.1c-6.1,0-11.6-0.6-15-1.1c-2.1-0.3-3.8-1.9-4.2-4C4.4,31.6,4,28.2,4,24c0-4.2,0.4-7.6,0.8-9.9c0.4-2.1,2.1-3.7,4.2-4C12.3,9.6,17.8,9,24,9c6.2,0,11.6,0.6,15,1.1c2.1,0.3,3.8,1.9,4.2,4c0.4,2.3,0.9,5.7,0.9,9.9C44,28.2,43.6,31.6,43.2,33.9z">
               </path>
               <path fill="#FFF" d="M20 31L20 17 32 24z"></path>
            </svg>
         </div> -->
         <!-- <div class='container' style="overflow: hidden;"> -->
         <!-- <div class='col-12'>
            <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="false">
               <ng-template ngbSlide *ngFor="let image of images; track by $index">
                  <div class="picsum-img-wrapper">
                     <img class="img " [src]="image" alt="Random slide" />
                  </div>
                  <div class="carousel-caption">
                  </div>
               </ng-template>
            </ngb-carousel>
         </div> -->
         <!-- </div>
          -->
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-md-6">
                  <!-- YouTube Video Embed -->
                  <div class="embed-responsive embed-responsive-16by9 shadow-lg rounded">
                     <iframe class="embed-responsive-item  " src="https://www.youtube.com/embed/PNSjlbyyBNw"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                     </iframe>
                  </div>
               </div>
               <!-- <div class="col-md-8 mt-3 d-flex justify-content-center flex-column">
                  <h3 class="fs-5 text-white">
                     To understand the process of Base Data
                  </h3>
                  <h3>
                     <a href="https://www.youtube.com/watch?v=HjX9of__LJE" class="text-warningA video-link"
                        target="_blank" rel="noopener noreferrer">
                        watch this video
                     </a>
                  </h3>
               </div> -->
            </div>
         </div>
         <div class="container mt-3">
            <div class="row justify-content-center">
               <div class="col-md-6">
                  <!-- YouTube Video Embed -->
                  <div class="embed-responsive embed-responsive-16by9 shadow-lg rounded">
                     <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HjX9of__LJE"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                     </iframe>
                  </div>
               </div>
               <!-- <div class="col-md-8 mt-3 d-flex justify-content-center flex-column">
                  <h3 class="fs-5 text-white">
                     To understand the process of Base Data
                  </h3>
                  <h3>
                     <a href="https://www.youtube.com/watch?v=HjX9of__LJE" class="text-warningA video-link"
                        target="_blank" rel="noopener noreferrer">
                        watch this video
                     </a>
                  </h3>
               </div> -->
            </div>
         </div>
         <div class="col-sm-12 hidden-sm">
            <form novalidate="" style="height: auto !important;" #login="ngForm"
               (submit)="login.form.valid && Submit(login)" class="login">
               <div class="card-icon"><img src="../../assets/images/logo.png" alt="" /> </div>
               <div class="row text-center">
                  <div class="col-12">
                     <h1 class="mt-1">Sign In</h1>
                     <p>Already have an account. Please Sign in</p>
                     <p>اگر آپ کا پہلے سے اکاونٹ بنا ہوا ہے تو یہاں سا ئن ان کریں</p>
                  </div>
               </div>
               <fieldset class="inputs">
                  <mat-form-field>
                     <input placeholder="Email" class="username" required name="userName" matInput autofocus
                        #userName="ngModel" type="text" [(ngModel)]="user.UserName">
                     <mat-error *ngIf="userName.errors?.required">
                        Email Address is <strong>required</strong>
                     </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                     <input placeholder="Enter your password" class="password" matInput required
                        [type]="hide ? 'password' : 'text'" name="password" #password="ngModel"
                        [(ngModel)]="user.Userpassword">
                     <mat-icon matSuffix (click)="hide = !hide" style="cursor:pointer;">{{hide ? 'visibility' :
                        'visibility_off'}}
                     </mat-icon>
                     <mat-error *ngIf="password.errors?.required">Password is <strong>required</strong> </mat-error>
                  </mat-form-field>
               </fieldset>
               <fieldset class="actions">
                  <div class="row">
                     <div class="col-6">
                        <span class="example-list-section">
                           <mat-checkbox class="example-margin" [checked]="true" color="primary"> Remember me
                           </mat-checkbox>
                        </span>
                     </div>
                     <div class="col-6">
                        <a [style.position]="'relative'" routerLinkActive="selected" [routerLink]="'/forgot-password'"
                           style="line-height: unset;border-radius: 5px;" class="forget-link">Forgot password</a>
                     </div>
                  </div>
               </fieldset>
               <div class="col-12  p-1">
                  <h6 class="text-center">اگر آپ کا اکاونٹ نہیں بنا ہوا تو یہاں رجسٹر کریں</h6>
                  <h6 class="text-center">Ifffff you do not have an account,register here</h6>
                  <a color="primary" mat-stroked-button routerLinkActive="selected" [routerLink]="'/sign-up'">
                     <i class="fas fa-sign-in-alt"></i> Sign Up
                  </a>
               </div>
               <button mat-raised-button style="position: absolute !important;" color="primary" type="submit">
                  <i class="fas fa-sign-in-alt"></i> Sign In
               </button>
            </form>
         </div>
         <div class="col-12" style="position: absolute;bottom: 2px;">
            <h6>For details and Techical Assistance please call us on PSDF</h6>
            <h6>UAN 042-111-11-PSDF (7733) From 8:30AM to 4:30PM (Monday-Friday)</h6>
         </div>
      </div>
   </div>
   <div class="col-sm-6 visibility-sm-hidden ">
      <form novalidate="" style="height: auto !important;" #login="ngForm" (submit)="login.form.valid && Submit(login)"
         class="login">
         <div class="card-icon"><img src="../../assets/images/logo.png" alt="" /> </div>
         <div class="row text-center">
            <div class="col-12">
               <h1 class="mt-1">Sign In</h1>
               <p>Already have an account. Please Sign in</p>
               <p>اگر آپ کا پہلے سے اکاونٹ بنا ہوا ہے تو یہاں سا ئن ان کریں</p>
            </div>
         </div>
         <fieldset class="inputs">
            <mat-form-field>
               <input placeholder="User Name" class="username" required name="userName" matInput autofocus
                  #userName="ngModel" type="text" [(ngModel)]="user.UserName">
               <mat-error *ngIf="userName.errors?.required">
                  Email Address is <strong>required</strong>
               </mat-error>
            </mat-form-field>
            <mat-form-field>
               <input placeholder="Enter your password" class="password" matInput required
                  [type]="hide ? 'password' : 'text'" name="password" #password="ngModel"
                  [(ngModel)]="user.Userpassword">
               <mat-icon matSuffix (click)="hide = !hide" style="cursor:pointer;">{{hide ? 'visibility' :
                  'visibility_off'}}
               </mat-icon>
               <mat-error *ngIf="password.errors?.required">Password is <strong>required</strong> </mat-error>
            </mat-form-field>
         </fieldset>
         <div>
            <fieldset class="actions">
               <div class="row">
                  <div class="col-6">
                     <button mat-raised-button color="primary" type="submit">
                        <i class="fas fa-sign-in-alt"></i> Sign In
                     </button>
                  </div>
                  <div class="col-6">
                     <a [style.position]="'relative'" routerLinkActive="selected" [routerLink]="'/forgot-password'"
                        style="line-height: unset;border-radius: 5px;" class="forget-link">Forgot password</a>
                  </div>
               </div>
            </fieldset>
         </div>
         <fieldset class="actions">
            <div class="row">
               <div class="col-6">
                  <span class="example-list-section">
                     <mat-checkbox class="example-margin" [checked]="true" color="primary"> Remember me </mat-checkbox>
                  </span>
               </div>
            </div>
         </fieldset>
         <div class="col-12  p-1 d-flex align-items-center flex-column">
            <h6 class="text-center">اگر آپ کا اکاونٹ نہیں بنا ہوا تو یہاں رجسٹر کریں</h6>
            <h6 class="text-center">If you do not have an account,register here</h6>
            <div class="mt-1">
               <!-- <a color="primary" mat-raised-button routerLinkActive="selected" [routerLink]="'/sign-up'">
                  <i class="fas fa-sign-in-alt"></i> Sign Up - رجسٹر کریں
               </a> -->

                <a mat-stroked-button routerLink="/sign-up" class="fw-bold">
          <mat-icon>person_add</mat-icon> Sign Up - رجسٹر کریں
        </a>
            </div>
         </div>
      </form>
      <!-- <button (click)="downloadMobileApp()" class="btn btn-primary">Download Mobile App</button> -->

   </div>



</div>