.login {
  background: #fff;
  height: 300px;
  width: 450px;
  margin: -150px 0 0 -230px;
  padding: 20px;
  position: absolute;
  top: 35%;
  left: 50%;
  z-index: 0;
  border-radius: 3px;
  //box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid #fdb813;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-bg {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  background: url(../../assets/images/bg-login.jpg);
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.login:before {
  content: "";
  position: absolute;
  z-index: -1;
  border: 1px dashed #005b9e;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  -moz-box-shadow: 0 0 0 1px #fff;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
}

.video-link {
  display: inline-block;
  transition: transform 0.3s ease;
}

.video-link:hover {
  transform: scale(1.1); /* Slightly enlarge the link */
}
/*--------------------*/

// h1 {
//   text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0px 2px 0 rgba(0, 0, 0, 0.5);
//   text-transform: uppercase;
//   text-align: center;
//   color: #666;
//   margin: 17px 0 20px 0;
//   letter-spacing: 4px;
//   font: normal 26px/1 Verdana, Helvetica;
//   position: relative;
// }

// h1:after, h1:before {
//   background-color: #777;
//   content: "";
//   height: 1px;
//   position: absolute;
//   top: 15px;
//   width: 120px;
// }

// h1:after {
//   background-image: -webkit-gradient(linear,to left top, right top, from(#777), to(#fff));
//   background-image: -webkit-linear-gradient(to left, #777, #fff);
//   background-image: -moz-linear-gradient(to left, #777, #fff);
//   background-image: -ms-linear-gradient(to left, #777, #fff);
//   background-image: -o-linear-gradient(to left, #777, #fff);
//   background-image: linear-gradient(to left, #777, #fff);
//   right: 0;
// }

// h1:before {
//   background-image: -webkit-gradient(linear,to right top, left top, from(#777), to(#fff));
//   background-image: -webkit-linear-gradient(to right, #777, #fff);
//   background-image: -moz-linear-gradient(to right, #777, #fff);
//   background-image: -ms-linear-gradient(to right, #777, #fff);
//   background-image: -o-linear-gradient(to right, #777, #fff);
//   background-image: linear-gradient(to right, #777, #fff);
//   left: 0;
// }

/*--------------------*/

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
/*--------------------*/

/*input {
  background: #f1f1f1 url(../../assets/login-sprite.png) no-repeat;
  /*padding: 15px 15px 15px 30px;
  margin: 0 0 10px 0;
  width: 353px; /* 353 + 2 + 45 = 400 
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
  box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}*/

.username {
  background-position: 5px -2px !important;
}

.password {
  background-position: 5px -52px !important;
}

/*.mat-form-field input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  -moz-box-shadow: 0 0 0 1px #e8c291 inset;
  -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
  box-shadow: 0 0 0 1px #e8c291 inset;
}*/

/*--------------------*/
.actions,
.text-info {
  margin: 0 0 0 0;
  position: relative;
}
.text-info {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #335 !important;
}

.actions a {
  color: #3151a2;
  float: right;
  line-height: 35px;
  margin-left: 10px;
}
.login .card-icon {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%);
}
/* Hide the browser's default checkbox */
.text-info input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.text-info:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.text-info input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.text-info input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.text-info .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mat-raised-button {
  background: #005b9e;
  margin-top: 0px;
  padding: 3px 20px;
  text-transform: uppercase;
}

.mat-stroked-button {
  margin-top: 0px;
  padding: 3px 20px;
  text-transform: uppercase;
}
.mat-raised-button i {
  color: white;
}
.mat-raised-button i {
  padding-right: 8px;
  position: relative;
  top: -2px;
}

.hidden-sm {
  visibility: hidden;
}

@media (max-width: 600px) {
  .login {
    width: 83%;
    top: 80px;
    transform: translate(-50%);
    margin: 0px !important;
  }

  .mat-stroked-button {
    position: relative;
    left: 3rem;
  }

  .visibility-sm-hidden {
    visibility: hidden;
  }

  .hidden-sm {
    visibility: visible;
  }

  .form-bg {
    position: relative;
  }
  // h1{font-size:19px;}
  // h1:after, h1:before {

  //   width: 35px;
  // }
}

.bg {
  margin: 0;
  padding: 0;
  background: url(../../assets/images/login-bg.png)
    center/cover no-repeat;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #005b9e;
  opacity: 0.4;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-white {
  color: white;
}
.bg-white {
  background: white;
}
.text-primaryA {
  color: #005b9e;
}
.bg-primaryA {
  background: #005b9e;
}
.text-warningA {
  color: #fdb813;
}

// /* Margin Utility Classes */
// .m-0 {
//   margin: 0;
// }
// .m-1 {
//   margin: 0.25rem;
// }
// .m-2 {
//   margin: 0.5rem;
// }
// .m-3 {
//   margin: 1rem;
// }
// .m-4 {
//   margin: 1.5rem;
// }
// .m-5 {
//   margin: 3rem;
// }

// .mt-0 {
//   margin-top: 0;
// }
// .mt-1 {
//   margin-top: 0.25rem;
// }
// .mt-2 {
//   margin-top: 0.5rem;
// }
// .mt-3 {
//   margin-top: 1rem;
// }
// .mt-4 {
//   margin-top: 1.5rem;
// }
// .mt-5 {
//   margin-top: 3rem;
// }

// .mb-0 {
//   margin-bottom: 0;
// }
// .mb-1 {
//   margin-bottom: 0.25rem;
// }
// .mb-2 {
//   margin-bottom: 0.5rem;
// }
// .mb-3 {
//   margin-bottom: 1rem;
// }
// .mb-4 {
//   margin-bottom: 1.5rem;
// }
// .mb-5 {
//   margin-bottom: 3rem;
// }

// .ml-0 {
//   margin-left: 0;
// }
// .ml-1 {
//   margin-left: 0.25rem;
// }
// .ml-2 {
//   margin-left: 0.5rem;
// }
// .ml-3 {
//   margin-left: 1rem;
// }
// .ml-4 {
//   margin-left: 1.5rem;
// }
// .ml-5 {
//   margin-left: 3rem;
// }

// .mr-0 {
//   margin-right: 0;
// }
// .mr-1 {
//   margin-right: 0.25rem;
// }
// .mr-2 {
//   margin-right: 0.5rem;
// }
// .mr-3 {
//   margin-right: 1rem;
// }
// .mr-4 {
//   margin-right: 1.5rem;
// }
// .mr-5 {
//   margin-right: 3rem;
// }

// /* Padding Utility Classes */
// .p-0 {
//   padding: 0;
// }
// .p-1 {
//   padding: 0.25rem;
// }
// .p-2 {
//   padding: 0.5rem;
// }
// .p-3 {
//   padding: 1rem;
// }
// .p-4 {
//   padding: 1.5rem;
// }
// .p-5 {
//   padding: 3rem;
// }

// .pt-0 {
//   padding-top: 0;
// }
// .pt-1 {
//   padding-top: 0.25rem;
// }
// .pt-2 {
//   padding-top: 0.5rem;
// }
// .pt-3 {
//   padding-top: 1rem;
// }
// .pt-4 {
//   padding-top: 1.5rem;
// }
// .pt-5 {
//   padding-top: 3rem;
// }

// .pb-0 {
//   padding-bottom: 0;
// }
// .pb-1 {
//   padding-bottom: 0.25rem;
// }
// .pb-2 {
//   padding-bottom: 0.5rem;
// }
// .pb-3 {
//   padding-bottom: 1rem;
// }
// .pb-4 {
//   padding-bottom: 1.5rem;
// }
// .pb-5 {
//   padding-bottom: 3rem;
// }

// .pl-0 {
//   padding-left: 0;
// }
// .pl-1 {
//   padding-left: 0.25rem;
// }
// .pl-2 {
//   padding-left: 0.5rem;
// }
// .pl-3 {
//   padding-left: 1rem;
// }
// .pl-4 {
//   padding-left: 1.5rem;
// }
// .pl-5 {
//   padding-left: 3rem;
// }
// .py-5 {
//   padding-top: 3rem;
//   padding-bottom: 3rem;
// }

// .pr-0 {
//   padding-right: 0;
// }
// .pr-1 {
//   padding-right: 0.25rem;
// }
// .pr-2 {
//   padding-right: 0;
// }

// /* Text Alignment Utility Classes */

// .text-center {
//   text-align: center;
// }
// .text-left {
//   text-align: left;
// }
// .text-right {
//   text-align: right;
// }
