.mat-column-Action {
  flex: 0 0 200px;
}
mat-row.example-detail-row {
  height: 0;
  min-height: unset;
}
.table{
  background-color:white
}


.mat-column-SchemeDate {
  flex: 0 0 150px;
}

.mat-column-Shift {
  flex: 0 0 100px;
}

.mat-column-TradeName {
  flex: 0 0 200px;
}
.mat-column-ProposedAmount {
  flex: 0 0 200px;
}
.mat-column-TotalClasses {
  flex: 0 0 100px;
}
.mat-column-CostSharing {
  flex: 0 0 150px;
}
.mat-column-CalculatedAmount {
  flex: 0 0 170px;
}
.mat-column-CalculatedAmount70 {
  flex: 0 0 200px;
}.mat-column-CalculatedAmount70 {
  flex: 0 0 200px;
}
.mat-column-ProposedAmount50 {
  flex: 0 0 200px;
}.mat-column-OfferedAmount {
  flex: 0 0 200px;
}.mat-column-Action {
  flex: 0 0 110px;
}.mat-column-TradeName {
  flex: 0 0 200px;
}.mat-column-TradeName {
  flex: 0 0 200px;
}
.mat-column-RecentSchemes {
  flex: 0 0 200px;
}.mat-column-Organization {
  flex: 0 0 200px;
}
