
/*th {
  min-width: auto !important;
}*/
.mat-form-field-infix {
  width: 180px !important;
}
.mat-raised-button {
  margin-bottom: 23px;
}
.FieldMissing {
  background-color: floralwhite;
}


.card h3 {
  color: #fff;
  font-size: 15px;
  padding: 0px 6px;
  display: inline-block;
}

.card .mat-icon {
  color: #F2A21E;
  display: inline-block;
  margin-left: 12px;
  vertical-align: middle;
}

.download-template a.btn.btn-success {
  height: auto;
  padding: 5px 20px 8px;
  line-height: 1.1;
  background: #f2a21e;
  border-color: #f2a21e;
}

.download-template {
  text-align: right;
}

div#accordion {
  margin: 13px 0px;
}
