<div class="comp-main-div">

  <div class="row">
    <div class="col-sm-3">
      <mat-form-field fxFlex>
        <mat-select #scheme placeholder="Scheme" [formControl]="schemeFilter" (openedChange)="EmptyCtrl()" id="SchemeID" matInput required>
          <mat-optgrp disabled class="ddlsrchheader"> <input type="text" (keydown)="$event.stopPropagation()" [formControl]="SearchKam" /></mat-optgrp>
          <mat-option>--Select--</mat-option>
          <mat-option *ngFor="let s of Scheme | like:['SchemeName',SearchKam.value]" [value]="s.SchemeID">{{s.SchemeName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field fxFlex>
        <input matInput [matDatepicker]="customDatePicker" placeholder="Choose a month" [formControl]="DateMonth" required readonly />
        <mat-datepicker-toggle matSuffix [for]="customDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #customDatePicker
                        startView="multi-year"
                        (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, customDatePicker)"
                        panelClass="example-month-picker">
        </mat-datepicker>
        <mat-label>Month</mat-label>
      </mat-form-field>
    </div>

  </div>

  <mat-card>
    <mat-card-content>
      <mat-toolbar color="accent" class=" slim slim">
        <mat-icon class="material-icons">view_comfy</mat-icon>
        <span class="spacer">Generate Courserav SRN</span>
        <mat-icon style="cursor:pointer" matTooltip="Business Rules for SRN Coursera" (click)="displayHideAlert()">info</mat-icon>

      </mat-toolbar>
    </mat-card-content>

    <div *ngIf="infoAlert">
      <ngb-alert type="primary" (click)="displayHideAlert()">
        <ul class="pl-3">
          <li>Trainee status should be completed!</li>
          <li>Stipend shall be disbursed only once!</li>
        </ul>

      </ngb-alert>
    </div>
    <!--*ngIf="PrnClasses != null && PrnClasses.length != 0 "-->
    <div class="row" *ngIf="!IsGenerated">
      <div class="col-lg-2" >
        <button class="float-right" mat-raised-button color="success" style="float:left" *ngIf="PrnClasses != null && PrnClasses.length != 0" (click)="generatePrnCompletion()">
          Generate SRN Coursera
        </button>
      </div>
    </div>

    <div class="row" *ngIf="IsGenerated">
      <div class="col">
        <h1 class="text-center">{{message}}</h1>
      </div>
    </div>
    <div *ngIf="!IsGenerated">
      <mat-card-content>
        <div class="main-content">
          <div fxLayout="column" class="table-responsive">
            <mat-table [dataSource]="PrnClasses" #SortClass="matSort" matSort class="custom-width">

              <ng-container matColumnDef="Sr">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Sr#</mat-header-cell>
                <mat-cell *matCellDef="let Row; let i = index;"><strong>{{ i + 1 || ""}}</strong></mat-cell>
              </ng-container>

              <ng-container matColumnDef="ClassCode">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ClassCode</mat-header-cell>
                <mat-cell *matCellDef="let Row" style="color: #005b9e;"> <a class="myAnchor" (click)="openClassJourneyDialogue(Row.ClassID)"> <strong>{{Row.ClassCode}}</strong> </a> </mat-cell>
              </ng-container>

              <ng-container matColumnDef="TraineeCode" style="width: 300px;">
                <mat-header-cell *matHeaderCellDef mat-sort-header>TraineeCode</mat-header-cell>
                <mat-cell *matCellDef="let Row; let i = index;"><strong>{{Row.TraineeCode}}</strong></mat-cell>
              </ng-container>

              <ng-container matColumnDef="TraineeName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>TraineeName</mat-header-cell>
                <mat-cell *matCellDef="let Row"><strong>{{Row.TraineeName}}</strong> </mat-cell>
              </ng-container>

              <ng-container matColumnDef="TraineeCNIC">
                <mat-header-cell *matHeaderCellDef mat-sort-header>TraineeCNIC</mat-header-cell>
                <mat-cell *matCellDef="let Row"> {{Row.TraineeCNIC}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="GenderName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>GenderName</mat-header-cell>
                <mat-cell *matCellDef="let Row"> {{Row.GenderName}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="CompletionDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>CompletionDate</mat-header-cell>
                <mat-cell *matCellDef="let Row"> {{Row.CompletionDate | date}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsClass"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsClass;" tabindex="0"></mat-row>
            </mat-table>
          </div>
        </div>
      </mat-card-content>
    </div>
  </mat-card>

</div>
