.mat-column-Action {
  flex: 0 0 200px;
}
/*.mat-column-RegionName {
  flex: 0 0 200px;
}.mat-column-DistrictName {
  flex: 0 0 200px;
}.mat-column-TSPID {
  flex: 0 0 250px;
}.mat-column-TspID {
  flex: 0 0 350px;
}*/
