.block {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #808080;
  color: black;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.changed-field {
  background-color: #fff3cd; /* Light yellow background for changed fields */
  font-weight: bold; /* Optional: make text bold for emphasis */
  border: 1px solid #ffca28; /* Optional: add a border for extra clarity */
}
