<div id="inception-report-list-page" class="comp-main-div">
  <mat-card>
    <mat-card-content>
      <div>
        <mat-toolbar color="accent" class="mat-elevation-z8 slim slim">
          <mat-icon class="material-icons">view_comfy</mat-icon>
          <span class="spacer">Manage and View All</span>
          <div class="spacer"></div>
          <input type="text" placeholder="Search" class="search" />
        </mat-toolbar>

        <div class="row">
          <div class="col-sm-3">
            <mat-form-field fxFlex>
              <mat-select #scheme placeholder="Scheme" [(ngModel)]="filters.SchemeID" [formControl]="schemeFilter" (openedChange)="EmptyCtrl()" (selectionChange)="[getInceptionReportList(),getTSPDetailByScheme(scheme.value)]" id="SchemeId" matInput required>
                <mat-optgrp disabled class="ddlsrchheader"> <input type="text" (keydown)="$event.stopPropagation()" [formControl]="SearchSchemeList" /></mat-optgrp>
                <mat-option value="0">--Select--</mat-option>
                <mat-option *ngFor="let s of Scheme | like:['SchemeName',SearchSchemeList.value]" [value]="s.SchemeID">{{s.SchemeName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field fxFlex>
              <mat-select #tsp placeholder="TSP" [(ngModel)]="filters.TSPID" [formControl]="tspFilter" (openedChange)="EmptyCtrl()" (selectionChange)="[getInceptionReportList(),getClassesByTsp(tsp.value)]" id="TspId" matInput required>
                <mat-optgrp disabled class="ddlsrchheader"> <input type="text" (keydown)="$event.stopPropagation()" [formControl]="SearchTSPList" autofocus /></mat-optgrp>
                <mat-option value="0">--Select--</mat-option>
                <mat-option *ngFor="let s of TSPDetail | like:['TSPName',SearchTSPList.value]" [value]="s.TSPID">{{s.TSPName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field fxFlex>
              <mat-select placeholder="Class" [(ngModel)]="filters.ClassID" [formControl]="classFilter" (openedChange)="EmptyCtrl()" (selectionChange)="getInceptionReportList()" id="ClassId" matInput required>
                <mat-optgrp disabled class="ddlsrchheader"> <input type="text" (keydown)="$event.stopPropagation()" [formControl]="SearchClassList" /></mat-optgrp>
                <mat-option value="0">--Select--</mat-option>
                <mat-option *ngFor="let item of classesArray | like:['ClassCode',SearchClassList.value]" [value]="item.ClassID">{{item.ClassCode}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <br />
            <button mat-raised-button color="success" style="float:right" *ngIf="inceptionReportList.data?.length > 0" (click)="exportToExcel()">Export Excel</button>
          </div>
        </div>


        <div class="table-responsive">
          <mat-table [dataSource]="inceptionReportList" matSort>

            <ng-container matColumnDef="SchemeName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Scheme Name</mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.SchemeName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="TSPName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>TSP Name</mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.TSPName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ClassCode">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Class Code</mat-header-cell>
              <mat-cell *matCellDef="let Row"> <a class="myAnchor" (click)="openClassJourneyDialogue(Row.ClassID)" style="color: #005b9e;"> <strong>{{Row.ClassCode}}</strong> </a> </mat-cell>
            </ng-container>
            <ng-container matColumnDef="CenterName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Center Name</mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.CenterName}} </mat-cell>
            </ng-container>
            <!--<ng-container matColumnDef="AddressOfTrainingCenterTheoratical">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Address Training Center (Theoratical)
              </mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.AddressOfTrainingCenterTheoratical}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="InchargeNameTheoratical">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Incharge Name (Theoratical)
              </mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.InchargeNameTheoratical}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="InchargeContactTheoratical">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Incharge Name Contact (Theoratical)
              </mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.InchargeContactTheoratical}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="AddressOfTrainingCenterPractical">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Address Training Center (Practical)
              </mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.AddressOfTrainingCenterPractical}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="InchargeNamePractical">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Incharge Name (Practical)
              </mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.InchargeNamePractical}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="InchargeContactPractical">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Incharge Contact (Pratical)
              </mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.InchargeContactPractical}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="NameOfAuthorizedPerson">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Name of Authorized Person</mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.NameOfAuthorizedPerson}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="MobileContactOfAuthorizedPerson">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile Contact of Authorized Person</mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.MobileContactOfAuthorizedPerson}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="EmailOfAuthorizedPerson">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Email of Authorized Person</mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.EmailOfAuthorizedPerson}} </mat-cell>
            </ng-container>-->
            <ng-container matColumnDef="TehsilName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Tehsil (Practical)
              </mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.TehsilName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="DistrictName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                District (Pratical)
              </mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.DistrictName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="TradeName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Trade</mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.TradeName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Batch">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Batch</mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.Batch}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ClassStartTime">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Timings From
              </mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.ClassStartTime}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ClassEndTime">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Timings To
              </mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.ClassEndTime}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="StartDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Expected Start Date
              </mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.StartDate}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="EndDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Expected End Date
              </mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.EndDate}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="EnrolledTrainees">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Number of Trainees
              </mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.EnrolledTrainees}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Shift">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Shift</mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.Shift}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="GenderName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.GenderName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="TrainingDaysNo">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Training Days No</mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.TrainingDaysNo}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="TrainingDays">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Training Days</mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.TrainingDays}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="InstructorInfo">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Instructor Info</mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.InstructorInfo}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ClassTotalHours">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Min Study Hours</mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.ClassTotalHours}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [pageSize]="5" [length]="resultsLength" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
