

<div class="row" style="height: 90%;">
    <div class="col-12">
        <div class="card" style="height:100%;">
            <div class="card-body map-body" style="padding: 0px;">
                <mat-toolbar class="mat-elevation-z2 slim"
                             color="accent"
                             matDialogTitle>
                    <mat-icon class="material-icons"
                              style="position: relative; top: 5px; right: 5px;">
                              attachment
                    </mat-icon>
                    <span class="subheading-1">
                       Uploaded File
                    </span>
                </mat-toolbar>
                <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
                    <iframe [src]="DataSource" style="width: 100%; height: 100%;"></iframe>
                </div>
            </div>
        </div>
            
            <div align="end">
                <button color="accent"
                mat-dialog-close
                mat-raised-button
                style="margin:2px 0px ;text-align: right;">
                Close
            </button>
       </div>
    </div>
</div>
