<div id="Duration-page" class="comp-main-div">
  <mat-card>
    <mat-card-content>
      <div>
        <mat-toolbar color="accent" class="mat-elevation-z2 slim">
          <mat-icon class="material-icons"> add_circle</mat-icon>
          <span class="subheading-1">{{title + EnText}} </span>
        </mat-toolbar>
        <form novalidate #nform="ngForm" [formGroup]="durationform" (submit)="Submit(nform)">
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field fxFlex>
                <input type="text" inputmode="numeric" id="duration" pattern="^\d*\.*[0:5]*$" placeholder="Duration (Months)" DecimelOnly formControlName="Duration" min="0" matInput required maxlength="4">
                <mat-error *ngIf="Duration.invalid && Duration.errors.required">Duration is <strong>required</strong></mat-error>
                <mat-error *ngIf="Duration.invalid && Duration.errors.pattern">Only 5 is allowed after point</mat-error>
              </mat-form-field>
            </div>
          </div>
          <br />
          <div class="row col-12">
            <button mat-raised-button color="primary" matTooltip="Click to {{title}}"
                    attr.aria-label="Click to {{savebtn+EnText}}" type="submit" [disabled]="working  || (DurationID.value<1 && !formrights.CanAdd)">
              <mat-icon>done</mat-icon>{{savebtn+EnText}}
            </button>&nbsp;&nbsp;
            <button mat-raised-button color="warn" matTooltip="Click to Reset form data"
                    attr.aria-label="Click to Reset form data" type="reset" (click)="reset(nform)" [disabled]="working">
              <mat-icon>close</mat-icon> Reset
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-divider></mat-divider>
  <mat-card>
    <mat-card-content>
      <div>
        <mat-toolbar color="accent" class=" slim slim">
          <mat-icon class="material-icons">view_comfy</mat-icon>
          <span class="spacer">Manage and View All</span>
          <div class="spacer"></div>
          <input type="text" placeholder="Search" (keyup)="applyFilter($event.target.value)" class="search" />
        </mat-toolbar>
        <div fxLayout="column">
          <mat-table [dataSource]="duration" matSort>

            <ng-container matColumnDef="Duration">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Duration</mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.Duration}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="InActive">
              <mat-header-cell *matHeaderCellDef mat-sort-header> InActive</mat-header-cell>
              <mat-cell *matCellDef="let Row"><mat-slide-toggle [(ngModel)]="Row.InActive" [disabled]="!formrights.CanDelete" (change)="toggleActive(Row)"></mat-slide-toggle> </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Action">
              <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
              <mat-cell *matCellDef="let Row">
                <button mat-icon-button color="primary" [disabled]="!formrights.CanEdit" (click)="toggleEdit(Row)">
                  <mat-icon aria-label="Edit this row">edit</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
