<h1 mat-dialog-title>Trainee Manual Verification </h1>
<div mat-dialog-content>
  <div class="container">
    <form [formGroup]="verificationForm">
      <div class="row">
        <div class="col-3">
          <mat-form-field>
            <mat-label>Trainee Code</mat-label>
            <input formControlName="TraineeCode" matInput>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label>Trainee Name</mat-label>
            <input formControlName="TraineeName" matInput>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <mat-label>CNIC</mat-label>
            <input formControlName="TraineeCNIC" matInput>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field fxFlex>
            <input matInput #ref [matDatepicker]="dateofbirth" placeholder="Date Of Birth" formControlName="DateOfBirth">
            <mat-datepicker-toggle matSuffix [for]="dateofbirth"></mat-datepicker-toggle>
            <mat-datepicker #dateofbirth></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-4">
          <fieldset class="border">
            <legend> <mat-checkbox formControlName="AgeVerified"> Age Verified</mat-checkbox></legend>
            <mat-form-field>
              <textarea matInput
                        formControlName="AgeUnVerifiedReason"
                        placeholder="Reason"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="2"
                        cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </fieldset>
        </div>
        <div class="col-4">
          <fieldset class="border">
            <legend> <mat-checkbox formControlName="DistrictVerified"> District Verified</mat-checkbox></legend>
            <mat-form-field>
              <textarea matInput
                        formControlName="ResidenceUnVerifiedReason"
                        placeholder="Reason"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="2"
                        cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </fieldset>
        </div>
        <div class="col-4">
          <fieldset class="border">
            <legend> <mat-checkbox formControlName="CNICVerified"> CNIC Verified</mat-checkbox></legend>
            <mat-form-field>
              <textarea matInput
                        formControlName="CNICUnVerifiedReason"
                        placeholder="Reason"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="2"
                        cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </fieldset>
        </div>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Cancel</button>
  <button mat-button (click)="onSaveClick()">Save</button>
</div>

