.mat-form-field .mat-form-field-infix {
  margin-top: 0;
}

.mat-table {
  overflow-x: auto;
}

.mat-column-Action {
  flex: 0 0 120px;
}.mat-column-SAPID {
  flex: 0 0 150px;
}.mat-column-InActive {
  flex: 0 0 120px;
}.mat-column-TradeName {
  flex: 0 0 200px;
}.mat-column-TradeCode {
  flex: 0 0 200px;
}.mat-column-SectorID {
  flex: 0 0 200px;
}.mat-column-SubSectorID {
  flex: 0 0 200px;
}

