
/*.mat-raised-button {
  margin-bottom: 28px;
}*/

.card h3 {
  color: #fff;
  font-size: 16px;
  padding: 5px 20px;
  display: inline-block;
}

.card .mat-icon {
  color: #F2A21E;
  display: inline-block;
  margin-left: 12px;
  vertical-align: middle;
}

.download-template a.btn.btn-success {
  height: auto;
  padding: 5px 20px 8px;
  line-height: 1.1;
  background: #f2a21e;
  border-color: #f2a21e;
}

.download-template {
  text-align: right;
}

div#accordion {
  margin: 13px 0px;
}
.mat-column-Action {
  flex: 0 0 140px;
}
.mat-column-PaymentSchedule {
  justify-content: center;
}
