<mat-toolbar color="accent" class=" slim slim">
  <mat-icon class="material-icons"> view_comfy </mat-icon>
  <span class="spacer">Trade Plan (Created Lots Detail)</span>
</mat-toolbar>
<mat-card-content>
  <div class="row" style="padding: 10px !important;">
    <div class="col-sm-12">
        <div class="row">
          <div class="table-responsive">
            <mat-table [dataSource]="TablesData" #sort="matSort" matSort class="table table-bordered">
              <ng-container *ngFor="let column of TableColumns" [matColumnDef]="column">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ camelCaseToWords(column) }}</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <ng-container>
                    &nbsp;{{ row[column] }}
                  </ng-container>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="TableColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: TableColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator="matPaginator" [pageSize]="10" [pageSizeOptions]="[5,10,20, 100]"></mat-paginator>
          </div>
        </div>
    </div>

  </div>
  <div class="row" style="float:right;margin-bottom: 5px;">
    <div class="col-12">
      <button color="accent" mat-raised-button matDialogClose> <i class="fas fa-close"></i> Close </button>
    </div>
  </div>
  </mat-card-content>

