<div id="FundingSource-page" class="comp-main-div">
  <mat-card>
    <mat-card-content>
      <div>
        <mat-toolbar color="accent" class="mat-elevation-z2 slim">
          <mat-icon class="material-icons"> add_circle</mat-icon>
          <span class="subheading-1">{{title + EnText}} </span>
        </mat-toolbar>
        <form novalidate [formGroup]="fundingsourceform" #NForm="ngForm" (submit)="fundingsourceform.valid && Submit()">
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field fxFlex>
                <input type="text" formControlName="FundingSourceName" placeholder="Funding Source Name" (ngModelChange)="ChkName()" matInput maxlength="200" required />
                <mat-label>Funding Source Name</mat-label>
                <mat-error *ngIf="FundingSourceName.invalid && FundingSourceName.errors.required">Funding Source Name is <strong>required</strong></mat-error>
                <mat-error *ngIf="FundingSourceName.invalid && FundingSourceName.errors.duplicate">Funding Source Name already Exists</mat-error>
              </mat-form-field>
            </div>
          </div>
          <br />
          <div class="row col-12">
            <button mat-raised-button color="primary" matTooltip="Click to {{title}}"
                    attr.aria-label="Click to {{savebtn+EnText}}" type="submit" [disabled]="working  || (FundingSourceID.value<1 && !formrights.CanAdd)">
              <mat-icon>done</mat-icon>{{savebtn+EnText}}
            </button>&nbsp;&nbsp;
            <button mat-raised-button color="warn" matTooltip="Click to Reset form data"
                    attr.aria-label="Click to Reset form data" type="button" (click)="reset()" [disabled]="working">
              <mat-icon>close</mat-icon> Reset
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-divider></mat-divider>
  <mat-card>
    <mat-card-content>
      <div>
        <mat-toolbar color="accent" class=" slim slim">
          <mat-icon class="material-icons">view_comfy</mat-icon>
          <span class="spacer">Manage and View All</span>
          <div class="spacer"></div>
          <input type="text" placeholder="Search" (keyup)="applyFilter($event.target.value)" class="search" />
        </mat-toolbar>
        <div fxLayout="column">
          <mat-table [dataSource]="fundingsource" matSort>

            <ng-container matColumnDef="FundingSourceName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Funding Source Name</mat-header-cell>
              <mat-cell *matCellDef="let Row"> {{Row.FundingSourceName}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="InActive">
              <mat-header-cell *matHeaderCellDef mat-sort-header> InActive</mat-header-cell>
              <mat-cell *matCellDef="let Row"><mat-slide-toggle [(ngModel)]="Row.InActive" [disabled]="!formrights.CanDelete" (change)="toggleActive(Row)"></mat-slide-toggle> </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Action">
              <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
              <mat-cell *matCellDef="let Row">
                <button mat-icon-button color="primary" [disabled]="!formrights.CanEdit" (click)="toggleEdit(Row)">
                  <mat-icon aria-label="Edit this row">edit</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
