<h1 mat-dialog-title>Approval Process</h1>
<div mat-dialog-content style="overflow:unset;">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <h6>Approval History</h6>
        <div class="table-responsive">
          <table>
            <thead>
              <tr>
                <th>Datetime</th>
                <th>Approver</th>
                <th>Approver Name</th>
                <th>Status</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              <ng-container>
                <tr *ngFor="let r of approvalHistory">
                  <td>{{r.ModifiedDate | date:'MMM dd, y, hh:mm:ss a'}}</td>
                  <td>{{r.Step ==1?'1st':r.Step==2?'2nd': r.Step==3?'3rd': r.Step+'th'}}</td>
                  <td>{{r.ApproverName}}</td>
                  <td>{{r.StatusDisplayName}}</td>
                  <td>{{r.Comments}}</td>
                </tr>
              </ng-container>
              <ng-container *ngIf="approvalHistory.length==0">
                <tr>
                  <td colspan="4" class="text-center">No record found</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </mat-card>
      <br />
      <mat-card *ngIf="!isAlreadyApproved && isValidApprover">
        <!--<h3 class="text-danger" *ngIf="!isValidApprover">You are Unauthorized</h3>-->
        <!--<ng-container *ngIf="!isAlreadyApproved && isValidApprover">-->
          <h6>Add Your Remarks</h6>
          <form #nform="ngForm" [formGroup]="approvalForm">
            <div class="row">
              <div class="col-12">
                <mat-form-field fxFlex>
                  <!--<textarea matInput [(ngModel)]="data.Comments" placeholder="Remarks" required></textarea>-->
                  <textarea matInput formControlName="Remarks" placeholder="Remarks" required></textarea>
                  <mat-error *ngIf="approvalForm.get('Remarks').invalid && approvalForm.get('Remarks').errors.required"><strong>required</strong></mat-error>
                </mat-form-field>
              </div>
            </div>
          </form>
        <!--</ng-container>-->
      </mat-card>
    </div>
  </div>
  <div mat-dialog-actions>
    <ng-container *ngIf="!isAlreadyApproved && isValidApprover">
      <button mat-button class="btn-success" (click)="save(enumApprovalStatus.Approved)">Approve</button>
      <button mat-button class="btn-warning" (click)="save(enumApprovalStatus.SendBack)" *ngIf="latest.Step != 1">Send Back</button>
      <!-- <button mat-button class="btn-danger" (click)="save(enumApprovalStatus.Rejected)">Reject</button> -->
    </ng-container>
    <button mat-button class="btn-info" (click)="onNoClick()" cdkFocusInitial>Cancel</button>
  </div>
</div>


