
<div>
  <mat-card>
    <mat-card-content>
      <div fxLayoutAlign="space-around space-around" fxLayout="column">
        <mat-toolbar color="accent" class="mat-elevation-z8 slim slim">
          <mat-icon class="material-icons">view_comfy</mat-icon>
          <span class="spacer">Pending Approvals</span>
          <div class="spacer"></div>
          <!--<input type="text" placeholder="Search" (keyup)="applyFilter($event.target.value)" class="search" />-->
        </mat-toolbar>
        <!--<button (click)="OK()">click</button>-->

        <div class="row">
          <!--<div class="col-sm-2">
            <mat-form-field fxFlex>
              <mat-select placeholder="KAM" [(ngModel)]="filters.KAMID" (openedChange)="EmptyCtrl()" (selectionChange)="GetSubmittedClasses()" id="kamUsersId" matInput required>
                <mat-optgrp disabled class="ddlsrchheader"> <input type="text" (keydown)="$event.stopPropagation()" [formControl]="SearchKAM" /></mat-optgrp>
                <mat-option value="0">--Select--</mat-option>
                <mat-option *ngFor="let item of kamUsers | like:['UserName',SearchKAM.value]" [value]="item.UserID">{{item.UserName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>-->
          <div class="col-sm-3">
            <mat-form-field fxFlex>
              <mat-select #scheme placeholder="Scheme" [(ngModel)]="filters.SchemeID" (openedChange)="EmptyCtrl()" (selectionChange)="[GetNewInstructorsRequests(), getTSPDetailByScheme(scheme.value)]" id="SchemeId" matInput required>
                <mat-optgrp disabled class="ddlsrchheader"> <input type="text" (keydown)="$event.stopPropagation()" [formControl]="SearchSchemeList" /></mat-optgrp>
                <mat-option value="0">--Select--</mat-option>
                <mat-option *ngFor="let s of Scheme | like:['SchemeName',SearchSchemeList.value]" [value]="s.SchemeID">{{s.SchemeName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field fxFlex>
              <mat-select #tsp placeholder="TSP" [(ngModel)]="filters.TSPID" (openedChange)="EmptyCtrl()" (selectionChange)="[GetNewInstructorsRequests(),getClassesByTsp(tsp.value)]" id="TspId" matInput required>
                <mat-optgrp disabled class="ddlsrchheader"> <input type="text" (keydown)="$event.stopPropagation()" [formControl]="SearchTSPList" autofocus /></mat-optgrp>
                <mat-option value="0">--Select--</mat-option>
                <mat-option *ngFor="let s of TSPDetail | like:['TSPName',SearchTSPList.value] | where :['SchemeID',filters.SchemeID]" [value]="s.TSPID">{{s.TSPName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field fxFlex>
              <mat-select placeholder="Class" [(ngModel)]="filters.ClassID" (openedChange)="EmptyCtrl()" (selectionChange)="GetNewInstructorsRequests()" id="ClassId" matInput required>
                <mat-optgrp disabled class="ddlsrchheader"> <input type="text" (keydown)="$event.stopPropagation()" [formControl]="SearchClassList" /></mat-optgrp>
                <mat-option value="0">--Select--</mat-option>
                <mat-option *ngFor="let item of classesArray | like:['ClassCode',SearchClassList.value] | where :['TSPID',filters.TSPID]" [value]="item.ClassID">{{item.ClassCode}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>


        <div class="text-center" *ngIf="!newinstructors">
          <p>No Pending Approval</p>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Sr#</th>
                <th>Action</th>
                <th>Instructor Name</th>
                <th>Trainee CNIC</th>
                <th>Qualification</th>
                <th>Total Experience</th>
                <!--<th>Attachment</th>-->
                <th>Scheme Name</th>
                <th>TSP Name</th>
                <th>Class Code</th>
                <th>Comments / Reson for change</th>
                <!--<th>Picture</th>-->


              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let r of newinstructors">
                <tr>
                  <td>{{r.CRNewInstructorID}}</td>
                  <td>
                    <button mat-raised-button color="primary" type="button" mat-button (click)="openApprovalDialogue(r)">
                      Decision
                    </button>&nbsp;&nbsp;
                    <!--<span class="p-4 text-dark" *ngIf="r.IsApproved">Approved</span>-->
                    <a color="primary" matTooltip="Check Instructor attachment" *ngIf="!r.IsApproved"
                       mat-icon-button (click)="GetCurrentInstructorAttachements(r)">
                      <mat-icon>{{r.currentInstructorAttachments ?'keyboard_arrow_up':'keyboard_arrow_down' }}</mat-icon>
                    </a>
                  </td>
                  <td>{{r.InstructorName}}</td>
                  <td>{{r.CNICofInstructor}}</td>
                  <td>{{r.QualificationHighest}}</td>
                  <td>{{r.TotalExperience}}</td>
                  <!--<td>
    <a download="{{'Trainer_'+r.InstructorName+'_Documents'+'.zip'}}" target="_self" [href]="domSanitizer.bypassSecurityTrustUrl(r.FilePath)">
      <span class="badge badge-info">
        Download Documents File
      </span>
    </a>

  </td>-->
                  <td>{{r.SchemeName}}</td>
                  <td>{{r.TSPName}}</td>
                  <td style="color: #005b9e;"> <a class="myAnchor" (click)="openClassJourneyDialogue(r.ClassID)"> <strong>{{r.ClassCode}}</strong> </a></td>
                  <td>{{r.NewInstructorCRComments}}</td>

                  <!--<td>{{r.PicturePath}}</td>-->

                </tr>
                <tr *ngIf="r.currentInstructorAttachments">
                  <td colspan="6">
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>

                            <th>Attachment</th>

                            <!--<th></th>
                      <th></th>
                      <th></th>-->
                            <!--<th></th>-->

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let l of r.currentInstructorAttachments">
                            <td>
                              <a download="{{'Trainer_'+l.InstructorName+'_Documents'+'.zip'}}" target="_self" [href]="domSanitizer.bypassSecurityTrustUrl(l.FilePath)">
                                <span class="badge badge-info">
                                  <h6> Download Documents File</h6>
                                </span>
                              </a>

                            </td>
                            <!--<td style="color:green">Existing</td>-->
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>

              </ng-container>

            </tbody>
          </table>
        </div>
        <!--</mat-step>-->


      </div>
    </mat-card-content>
  </mat-card>
</div>

