<mat-card>
   <mat-toolbar *ngIf="TapIndex==0" color="accent" class=" slim slim">
      <mat-icon class="material-icons"> add_circle </mat-icon>
      <span class="spacer">{{SpacerTitle}}</span>
   </mat-toolbar>
   <mat-toolbar *ngIf="TapIndex==1" color="accent" class=" slim slim">
      <mat-icon class="material-icons"> view_comfy </mat-icon>
      <span class="spacer">Manage and View All</span>
      <input placeholder="Search" (keyup)="applyFilter($event)" class="search" />
      <button mat-raised-button style="float:right;margin: 0px 7px;background: #c3d9ff" (click)="DataExcelExport()">
      <i class="fas fa-file-export"></i> Export Excel</button>
   </mat-toolbar>
   <mat-card-content>
   <mat-tab-group #tabGroup mat-align-tabs="start" dynamicHeight>
      <mat-tab label="Program Plan Form">
         <form (ngSubmit)="SaveAnnualPlanInfo()" [formGroup]="AnnualPlanInfoForm">
         <fieldset class="border">
            <legend>Program Plan</legend>
            <div class="row">
               <div class="col-sm-2">
                  <mat-form-field>
                     <mat-label>Financial Year</mat-label>
                     <mat-select (openedChange)="EmptyCtrl()" formControlName="FinancialYearID" matInput required>
                        <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                           (keydown)="$event.stopPropagation()" [formControl]="BSearchCtr" />
                        </mat-optgrp>
                        <mat-option>Select Financial Year</mat-option>
                        <mat-option
                        *ngFor="let s of FinancialYearData | like:['FinancialYearName',BSearchCtr.value]"
                        [value]="s.Id">{{s.FinancialYearName}}</mat-option>
                     </mat-select>
                     <mat-error
                        *ngFor="let error of AnnualPlanInfoForm.get('FinancialYearID').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2">
                  <mat-form-field>
                     <mat-label>Planning Type</mat-label>
                     <mat-select (openedChange)="EmptyCtrl()" formControlName="PlaningTypeID" matInput required>
                        <mat-option *ngFor="let s of PlaningType"
                        [value]="s.PlaningTypeID">{{s.PlaningType}}</mat-option>
                     </mat-select>
                     <mat-error *ngFor="let error of AnnualPlanInfoForm.get('PlaningTypeID').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2">
                  <mat-form-field>
                     <mat-label>Program Name</mat-label>
                     <input formControlName="Program" placeholder="Enter Scheme Name" maxlength="30"  AlphaNumeric matInput
                        required />
                     <mat-error *ngFor="let error of AnnualPlanInfoForm.get('Program').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2">
                  <mat-form-field>
                     <mat-label>Program Code</mat-label>
                     <input formControlName="ProgramCode" placeholder="Enter Scheme Name" maxlength="4" AlphaNumeric matInput
                        required />
                     <mat-error *ngFor="let error of AnnualPlanInfoForm.get('ProgramCode').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-4">
                  <mat-form-field>
                     <mat-label>Program Type</mat-label>
                     <mat-select (openedChange)="EmptyCtrl()" formControlName="ProgramTypeID" matInput required>
                        <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                           (keydown)="$event.stopPropagation()" [formControl]="BSearchCtr" />
                        </mat-optgrp>
                        <mat-option>Select Program Type</mat-option>
                        <mat-option *ngFor="let s of ProgramTypeData | like:['PTypeName',BSearchCtr.value]"
                        [value]="s.PTypeID">{{s.PTypeName}}</mat-option>
                     </mat-select>
                     <mat-error *ngFor="let error of AnnualPlanInfoForm.get('ProgramTypeID').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2" hidden>
                  <mat-form-field>
                     <mat-label>Program Department</mat-label>
                     <mat-select (openedChange)="EmptyCtrl()" formControlName="ProgramCategoryID" matInput required>
                        <mat-option *ngFor="let s of ProgramCategory"
                        [value]="s.PCategoryID">{{s.PCategoryName}}</mat-option>
                     </mat-select>
                     <mat-error
                        *ngFor="let error of AnnualPlanInfoForm.get('ProgramCategoryID').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2">
                  <mat-form-field>
                     <mat-label>Funding Source</mat-label>
                     <mat-select (openedChange)="EmptyCtrl()" formControlName="FundingSourceID" matInput required>
                        <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                           (keydown)="$event.stopPropagation()" [formControl]="BSearchCtr" />
                        </mat-optgrp>
                        <mat-option>Select Funding Source</mat-option>
                        <mat-option
                        *ngFor="let s of FundingSourceData | like:['FundingSourceName',BSearchCtr.value]"
                        [value]="s.FundingSourceID">{{s.FundingSourceName}}</mat-option>
                     </mat-select>
                     <mat-error
                        *ngFor="let error of AnnualPlanInfoForm.get('FundingSourceID').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2">
                  <mat-form-field>
                     <mat-label>Funding Category</mat-label>
                     <mat-select (openedChange)="EmptyCtrl()" formControlName="FundingCategoryID" matInput required>
                        <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                           (keydown)="$event.stopPropagation()" [formControl]="BSearchCtr" />
                        </mat-optgrp>
                        <mat-option>Select Funding Source</mat-option>
                        <mat-option
                        *ngFor="let s of FundingCategory | like:['FundingCategoryName',BSearchCtr.value]"
                        [value]="s.FundingCategoryID">{{s.FundingCategoryName}}</mat-option>
                     </mat-select>
                     <mat-error
                        *ngFor="let error of AnnualPlanInfoForm.get('FundingCategoryID').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2">
                  <mat-form-field>
                     <mat-label>Business Rule</mat-label>
                     <mat-select (openedChange)="EmptyCtrl()" formControlName="BusinessRuleType" matInput required>
                        <mat-option *ngFor="let s of BusinessRuleType "
                        [value]="s.businessruletype">{{s.businessruletype}}</mat-option>
                     </mat-select>
                     <mat-error
                        *ngFor="let error of AnnualPlanInfoForm.get('BusinessRuleType').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2">
                  <mat-form-field>
                     <mat-label>Gender</mat-label>
                     <mat-select (openedChange)="EmptyCtrl()" formControlName="GenderID" matInput required>
                        <mat-option>Select Gender</mat-option>
                        <mat-option *ngFor="let s of GenderData | like:['GenderName',BSearchCtr.value]"
                        [value]="s.GenderID">{{s.GenderName}}</mat-option>
                     </mat-select>
                     <mat-error *ngFor="let error of AnnualPlanInfoForm.get('GenderID').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2">
                  <mat-form-field>
                     <input formControlName="Stipend" NumberOnly placeholder="Enter Stipend" matInput required />
                     <mat-error *ngFor="let error of AnnualPlanInfoForm.get('Stipend').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2">
                  <mat-form-field>
                     <mat-label>Stipend Mode</mat-label>
                     <mat-select (openedChange)="EmptyCtrl()" formControlName="StipendMode" matInput required>
                        <mat-option>Stipend Mode</mat-option>
                        <mat-option value="Digital">Digital</mat-option>
                        <mat-option value="Manual">Manual</mat-option>
                     </mat-select>
                     <mat-error *ngFor="let error of AnnualPlanInfoForm.get('StipendMode').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2">
                  <mat-form-field>
                     <mat-label>Minimum Education</mat-label>
                     <mat-select (openedChange)="EmptyCtrl()" formControlName="MinEducationID" matInput required>
                        <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                           (keydown)="$event.stopPropagation()" [formControl]="BSearchCtr" />
                        </mat-optgrp>
                        <mat-option *ngFor="let s of EducationData | like:['Education',BSearchCtr.value]"
                        [value]="s.EducationTypeID">{{s.Education}}</mat-option>
                     </mat-select>
                     <mat-error
                        *ngFor="let error of AnnualPlanInfoForm.get('MinEducationID').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2">
                  <mat-form-field>
                     <mat-label>Maximum Education</mat-label>
                     <mat-select (openedChange)="EmptyCtrl()" formControlName="MaxEducationID" matInput required>
                        <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                           (keydown)="$event.stopPropagation()" [formControl]="BSearchCtr" />
                        </mat-optgrp>
                        <mat-option *ngFor="let s of EducationData | like:['Education',BSearchCtr.value]"
                        [value]="s.EducationTypeID">{{s.Education}}</mat-option>
                     </mat-select>
                     <mat-error
                        *ngFor="let error of AnnualPlanInfoForm.get('MaxEducationID').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2">
                  <mat-form-field>
                     <mat-label>Minimum Age</mat-label>
                     <input formControlName="MinAge"  placeholder="Enter Minimum Age" min="1" max="60"   NumberOnly type="number" num matInput
                        required />
                     <mat-error *ngFor="let error of AnnualPlanInfoForm.get('MinAge').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2">
                  <mat-form-field>
                     <mat-label>Maximum Age</mat-label>
                     <input formControlName="MaxAge" placeholder="Enter Maximum Age" max="60"  min="1" NumberOnly  type="number" matInput
                        required />
                     <mat-error *ngFor="let error of AnnualPlanInfoForm.get('MaxAge').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-4">
                  <mat-form-field>
                     <mat-select multiple (openedChange)="EmptyCtrl()" required #Applicability matInput
                     formControlName="ApplicabilityID" placeholder="Trainee Support Items"
                     (selectionChange)="[optionClick($event,'Applicability')]">
                     <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                        [formControl]="BSearchCtr" /></mat-optgrp>
                     <div class="select-all" *ngIf="!BSearchCtr.value">
                        <mat-checkbox [checked]="SelectedAll_Applicability" id="Applicability"
                        (change)="SelectAll($event,1,'ApplicabilityID','AnnualPlanInfoForm')">All</mat-checkbox>
                     </div>
                     <mat-option
                     *ngFor="let s of TraineeSupportItems  |  like:['Applicability',BSearchCtr.value]"
                     [value]="s.ID">{{s.Applicability}}</mat-option>
                     <mat-option *ngFor="let s of TraineeSupportItems" disabled hidden
                     [value]="s.ID">{{s.Applicability}}</mat-option>
                     </mat-select>
                     <mat-error
                        *ngFor="let error of AnnualPlanInfoForm.get('ApplicabilityID').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-4">
                  <mat-form-field>
                     <mat-label>Trainee Support Item Cost</mat-label>
                     <input formControlName="TraineeSupportCost" matTooltip="Trainee Support Item Cost"  min="1" NumberOnly  type="number"
                        placeholder="Trainee Support Item Cost" matInput required />
                     <mat-error
                        *ngFor="let error of AnnualPlanInfoForm.get('TraineeSupportCost').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2">
                  <mat-form-field>
                     <mat-label>Tentative Process Start Date</mat-label>
                     <input formControlName="TentativeProcessSDate" [max]="maxDate"
                     [matDatepicker]="TentativeProcessSDate" readonly matInput required>
                     <mat-datepicker-toggle matSuffix [for]="TentativeProcessSDate"
                        matTooltip="Tentative Process Start Date"></mat-datepicker-toggle>
                     <mat-datepicker #TentativeProcessSDate disabled="false"></mat-datepicker>
                     <mat-error
                        *ngFor="let error of AnnualPlanInfoForm.get('TentativeProcessSDate').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2">
                  <mat-form-field>
                     <mat-label>Class Start Date</mat-label>
                     <input formControlName="ClassStartDate" [max]="maxDate" [matDatepicker]="ClassStartDate"
                     readonly matInput required>
                     <mat-datepicker-toggle matSuffix [for]="ClassStartDate"
                        matTooltip="Class Start Date"></mat-datepicker-toggle>
                     <mat-datepicker #ClassStartDate disabled="false"></mat-datepicker>
                     <mat-error
                        *ngFor="let error of AnnualPlanInfoForm.get('ClassStartDate').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2">
                  <mat-form-field>
                     <mat-label>Payment Structure</mat-label>
                     <mat-select (openedChange)="EmptyCtrl()" formControlName="PaymentStructureID" matInput required>
                        <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                           (keydown)="$event.stopPropagation()" [formControl]="BSearchCtr" />
                        </mat-optgrp>
                        <mat-option>Select Funding Source</mat-option>
                        <mat-option *ngFor="let s of PaymentStructureData | like:['Description',BSearchCtr.value]"
                        [value]="s.SAP_SchemeID">{{s.Description}}</mat-option>
                     </mat-select>
                     <mat-error
                        *ngFor="let error of AnnualPlanInfoForm.get('PaymentStructureID').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2">
                  <mat-form-field>
                     <mat-label>Selection Method</mat-label>
                     <mat-select formControlName="SelectionMethodID" matInput required>
                        <mat-option *ngFor="let sm of SelectionMethods"
                        [value]="sm.ID">{{sm.MethodName}}</mat-option>
                     </mat-select>
                     <mat-error
                        *ngFor="let error of AnnualPlanInfoForm.get('SelectionMethodID').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-4">
                  <mat-form-field>
                     <mat-label>Employment Commitment</mat-label>
                     <mat-select (openedChange)="EmptyCtrl()" formControlName="EmploymentCommitment" matInput required>
                        <mat-optgrp class="ddlsrchheader"> <input NumberOnly placeholder="Search"
                           (keydown)="$event.stopPropagation()" [formControl]="BSearchCtr" />
                        </mat-optgrp>
                        <mat-option *ngFor="let s of CountZeroToHun | like:['CountValue', BSearchCtr.value]"
                        [value]="s.CountValue">
                        {{ s.CountValue }}
                        </mat-option>
                     </mat-select>
                     <mat-error
                        *ngFor="let error of AnnualPlanInfoForm.get('EmploymentCommitment').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2">
                  <mat-form-field>
                     <mat-label>Program Design On</mat-label>
                     <mat-select formControlName="SchemeDesignOn" matInput required
                        (ngModelChange)="ChangeSchemeDesignOn($event)">
                        <mat-option value="Province">Province</mat-option>
                        <mat-option value="Cluster">Cluster</mat-option>
                        <mat-option value="District">District</mat-option>
                     </mat-select>
                     <mat-error
                        *ngFor="let error of AnnualPlanInfoForm.get('SchemeDesignOn').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2">
                  <mat-form-field>
                     <mat-label>Province</mat-label>
                     <mat-select multiple (openedChange)="EmptyCtrl()" (ngModelChange)="GetCluster($event)"
                     [required]="!PreadOnly" #Province matInput formControlName="ProvinceID"
                     (selectionChange)="[optionClick($event,'Province')]">
                     <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                        [formControl]="PSearchCtr" /></mat-optgrp>
                     <div class="select-all" *ngIf="!PSearchCtr.value">
                        <mat-checkbox
                        [checked]="ProvinceLength==ProvinceData.length"
                        id="Province"
                        (change)="SelectAll($event,2,'ProvinceID','AnnualPlanInfoForm')">All</mat-checkbox>
                     </div>
                     <mat-option *ngFor="let s of ProvinceData | like:['ProvinceName',PSearchCtr.value]"
                     [value]="s.ProvinceID">{{s.ProvinceName}}</mat-option>
                     <mat-option *ngFor="let s of ProvinceData" disabled hidden
                     [value]="s.ProvinceID">{{s.ProvinceName}}</mat-option>
                     </mat-select>
                     <mat-error *ngFor="let error of AnnualPlanInfoForm.get('ProvinceID').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2">
                  <mat-form-field>
                     <mat-label>Cluster</mat-label>
                     <mat-select multiple (openedChange)="EmptyCtrl()" (ngModelChange)="GetDistrict($event)"
                     [required]="!CreadOnly" #Cluster matInput formControlName="ClusterID"
                     (selectionChange)="[optionClick($event,'Cluster')]">
                     <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                        [formControl]="CSearchCtr" /></mat-optgrp>
                     <div class="select-all" *ngIf="!CSearchCtr.value">
                        <mat-checkbox
                        [checked]="ClusterLength==ClusterData.length"
                        id="Cluster"
                        (change)="SelectAll($event,3,'ClusterID','AnnualPlanInfoForm')">All</mat-checkbox>
                     </div>
                     <mat-option *ngFor="let s of ClusterData | like:['ClusterName',CSearchCtr.value]"
                     [value]="s.ClusterID">{{s.ClusterName}}</mat-option>
                     <mat-option *ngFor="let s of ClusterData" disabled hidden
                     [value]="s.ClusterID">{{s.ClusterName}}</mat-option>
                     </mat-select>
                     <mat-error *ngFor="let error of AnnualPlanInfoForm.get('ClusterID').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2">
                  <mat-form-field>
                     <mat-label>District</mat-label>
                     <mat-select multiple (openedChange)="EmptyCtrl()" #District matInput
                     formControlName="DistrictID" (selectionChange)="[optionClick($event,'District')]">
                     <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                        [formControl]="DSearchCtr" /></mat-optgrp>
                     <div class="select-all" *ngIf="!DSearchCtr.value">
                        <mat-checkbox
                        [checked]="DistrictLength==DistrictData.length"
                        id="District"
                        (change)="SelectAll($event,4,'DistrictID','AnnualPlanInfoForm')">All</mat-checkbox>
                     </div>
                     <mat-option *ngFor="let s of DistrictData | like:['DistrictName',DSearchCtr.value]"
                     [value]="s.DistrictID">{{s.DistrictName}}</mat-option>
                     <mat-option *ngFor="let s of DistrictData" disabled hidden
                     [value]="s.DistrictID">{{s.DistrictName}}</mat-option>
                     </mat-select>
                     <mat-error *ngFor="let error of AnnualPlanInfoForm.get('DistrictID').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-6" hidden>
                  <mat-form-field>
                     <mat-label>Approval Recommended Detail</mat-label>
                     <input formControlName="ApprovalRecDetail" placeholder="Approval Recommended Detail"
                        matInput />
                     <mat-error
                        *ngFor="let error of AnnualPlanInfoForm.get('ApprovalRecDetail').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
               <div class="col-sm-2" hidden>
                  <mat-label class="custom-label"
                     style=" position: relative;top: 4px;font-size: 11px;font-weight: 600;left: 7px;">Approval
                     Attachment
                  </mat-label>
                  <file-upload formControlName="ApprovalAttachment" maxSize="1024" [nopreview]="true"
                     matInput></file-upload>
                  <mat-error style="font-size: 11px;"
                     *ngFor="let error of AnnualPlanInfoForm.get('ApprovalAttachment').errors | keyvalue">{{
                     getErrorMessage(error.key, error.value) }}
                  </mat-error>
               </div>
               <div class="col-sm-2">
                  <mat-label class="custom-label"
                     style=" position: relative;top: 4px;font-size: 11px;font-weight: 600;left: 7px;">(TORs)
                     Attachment
                  </mat-label>
                  <file-upload formControlName="AttachmentTORs" maxSize="1024" [nopreview]="true"
                     matInput></file-upload>
                  <mat-error style="font-size: 11px;"
                     *ngFor="let error of AnnualPlanInfoForm.get('AttachmentTORs').errors | keyvalue">{{
                     getErrorMessage(error.key, error.value) }}
                  </mat-error>
               </div>
               <div class="col-sm-2">
                  <mat-label class="custom-label"
                     style=" position: relative;top: 4px;font-size: 11px;font-weight: 600;left: 7px;">Criteria
                     Attachment
                  </mat-label>
                  <file-upload formControlName="AttachmentCriteria" maxSize="1024" [nopreview]="true"
                     matInput></file-upload>
                  <mat-error style="font-size: 11px;"
                     *ngFor="let error of AnnualPlanInfoForm.get('AttachmentCriteria').errors | keyvalue">{{
                     getErrorMessage(error.key, error.value) }}
                  </mat-error>
               </div>
               <div class="col-sm-8">
                  <mat-form-field>
                     <mat-label>Program Objective</mat-label>
                     <input formControlName="Description" placeholder="Program Objective" matInput required />
                     <mat-error *ngFor="let error of AnnualPlanInfoForm.get('Description').errors | keyvalue">{{
                        getErrorMessage(error.key, error.value) }}
                     </mat-error>
                  </mat-form-field>
               </div>
            </div>
            <div class="row" style="float:right">
               <div class="col-sm-12">
                  <button   *ngIf="FinalSubmit==false" class="mr-1" color="primary" mat-raised-button
                  [disabled]="IsDisabled" (click)="IsFinalSubmit()"><i class="fas fa-check"></i> Final Submit
                  </button>
                  <button *ngIf="FinalSubmit==false" class="mr-1" color="primary" mat-raised-button
                  [disabled]="IsDisabled"><i class="fas fa-check"></i>
                  Save Record </button>
                  <button class="mr-1" type="reset" color="warn" matTooltip="Click to Reset form data"
                     (click)="ResetFrom()" mat-raised-button>
                  <i class="fas fa-times"></i>
                  Reset
                  </button>
               </div>
            </div>
         </fieldset>
         </form>
         <mat-divider>
         </mat-divider>
      </mat-tab>
      <mat-tab label="Program Plan Report">
         <!-- record list start -->
         <div class="table-responsive">
            <mat-table [dataSource]="TablesData" matSort class="table table-bordered">
               <ng-container *ngFor="let column of TableColumns" [matColumnDef]="column">
               <mat-header-cell *matHeaderCellDef mat-sort-header>{{ camelCaseToWords(column) }}</mat-header-cell>
               <mat-cell *matCellDef="let row">
                  <ng-container
                     *ngIf="column !== 'Program' && column !='AttachmentCriteriaEvidence' && column !='AttachmentTORsEvidence' && column != 'ApprovalEvidence'">
                     &nbsp;{{ row[column] }}
                  </ng-container>
                  <ng-container *ngIf="column === 'Program'">
                     &nbsp;
                     <span (click)="UpdateRecord(row)"
                        style="color: #005b9e; text-decoration: underline; cursor: pointer;">
                     <strong>{{ row[column] }}</strong>
                     </span>
                  </ng-container>
                  <ng-container
                     *ngIf=" column =='AttachmentCriteriaEvidence' || column =='AttachmentTORsEvidence' || column =='ApprovalEvidence'">
                     &nbsp;
                     <a style="cursor: pointer;" (click)="ShowPreview( row[column])" color="primary"
                        matTooltip="Preview document" class="file-lable">
                        <mat-icon>get_app</mat-icon>
                     </a>
                  </ng-container>
               </mat-cell>
               </ng-container>
               <mat-header-row *matHeaderRowDef="TableColumns"></mat-header-row>
               <mat-row *matRowDef="let row; columns: TableColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,20, 100]"></mat-paginator>
         </div>
         <!-- record list end -->
      </mat-tab>
   </mat-tab-group>
   