<mat-card>
   <mat-toolbar *ngIf="TapIndex==0" color="accent" class=" slim slim m-1">
      <mat-icon class="material-icons"> add_circle </mat-icon>
      <span class="spacer">Scheme Plan</span>
   </mat-toolbar>

   <mat-card-content>

      <mat-tab-group #tabGroup mat-align-tabs="start" dynamicHeight>
         <mat-tab label="Scheme Plan">
            <div class="example-action-buttons mt-2 text-right mb-2">
               <a mat-stroked-button color="primary" (click)="openAll()" class="mr-1"><mat-icon>expand_more</mat-icon>
                  Expand All</a>
               <a mat-stroked-button color="accent" (click)="closeAll()"><mat-icon>expand_less</mat-icon> Collapse
                  All</a>
            </div>
            <mat-accordion multi="true" #accordion>
               <form (ngSubmit)="SaveAnnualPlanInfo()" [formGroup]="AnnualPlanInfoForm">
                  <!-- Program Details Section -->
                  <mat-expansion-panel class='my-2 shadow' [expanded]="step === 0" (opened)="setStep(0)"
                     style="border:2px solid #fbb417">
                     <mat-expansion-panel-header>
                        <mat-panel-title style="font-weight:bold;color: #024285;"> <span class="number-icon">1</span>
                           Scheme & Funding Details
                        </mat-panel-title>
                     </mat-expansion-panel-header>
                     <!-- <fieldset class="border sub-fieldset">
                  <legend>Program Details</legend> -->
                     <div class="row border-top">
                        <div class="col-sm-3">
                           <mat-form-field>
                              <mat-label>Select Program</mat-label>
                              <mat-select (openedChange)="EmptyCtrl()" formControlName="SAPProgram" matInput>
                                 <mat-option *ngFor="let s of programBudget; " [value]="s.U_Program">{{s.U_Program}} |
                                    Budget: {{s.U_Amount}}</mat-option>
                              </mat-select>
                              <mat-error *ngFor="let error of AnnualPlanInfoForm.get('SAPProgram').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                           <mat-form-field class="mat-form-field-disabled">
                              <mat-label>Program Budget</mat-label>
                              <input formControlName="ProgramBudget" readonly placeholder="Enter Program Budget"
                                 matInput required />
                              <mat-error
                                 *ngFor="let error of AnnualPlanInfoForm.get('ProgramBudget').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <!-- Financial Year Dropdown -->
                        <div class="col-sm-3">
                           <mat-form-field>
                              <mat-label>Financial Year</mat-label>
                              <mat-select (openedChange)="EmptyCtrl()" formControlName="FinancialYearID" matInput
                                 required>
                                 <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                                       (keydown)="$event.stopPropagation()" [formControl]="BSearchCtr" />
                                 </mat-optgrp>
                                 <mat-option>Select Financial Year</mat-option>
                                 <mat-option
                                    *ngFor="let s of FinancialYearData | like:['FinancialYearName',BSearchCtr.value]"
                                    [value]="s.Id">{{s.FinancialYearName}}</mat-option>
                              </mat-select>
                              <mat-error
                                 *ngFor="let error of AnnualPlanInfoForm.get('FinancialYearID').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <!-- Planning Type Dropdown (Hidden) -->
                        <div class="col-sm-3" hidden>
                           <mat-form-field>
                              <mat-label>Planning Type</mat-label>
                              <mat-select (openedChange)="EmptyCtrl()" formControlName="PlaningTypeID" matInput>
                                 <mat-option *ngFor="let s of PlaningType; "
                                    [value]="s.PlaningTypeID">{{s.PlaningType}}</mat-option>
                              </mat-select>
                              <mat-error
                                 *ngFor="let error of AnnualPlanInfoForm.get('PlaningTypeID').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <!-- Program Name Input -->
                        <div class="col-sm-3">
                           <mat-form-field>
                              <mat-label>Scheme Name</mat-label>
                              <input formControlName="Program" placeholder="Enter Scheme Name" maxlength="30"
                                 AlphaNumeric matInput required />
                              <mat-error *ngFor="let error of AnnualPlanInfoForm.get('Program').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <!-- Program Code Input -->
                        <div class="col-sm-3">
                           <mat-form-field>
                              <mat-label>Scheme Code</mat-label>
                              <input formControlName="ProgramCode" placeholder="Enter Scheme Code" maxlength="4"
                                 AlphaNumeric matInput required />
                              <mat-error
                                 *ngFor="let error of AnnualPlanInfoForm.get('ProgramCode').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <!-- Program Budget Input -->
                        <!-- <div class="col-sm-3">
                        <mat-form-field>
                           <mat-label>Program Budget</mat-label>
                           <input formControlName="ProgramBudget" placeholder="Enter Program Budget" NumberOnly matInput
                              required />
                           <mat-error *ngFor="let error of AnnualPlanInfoForm.get('ProgramBudget').errors | keyvalue">{{
                              getErrorMessage(error.key, error.value) }}
                           </mat-error>
                        </mat-form-field>
                     </div> -->
                        <div class="col-sm-2" hidden>
                           <mat-form-field>
                              <mat-label>Program Department</mat-label>
                              <mat-select (openedChange)="EmptyCtrl()" formControlName="ProgramCategoryID" matInput
                                 required>
                                 <mat-option *ngFor="let s of ProgramCategory"
                                    [value]="s.PCategoryID">{{s.PCategoryName}}</mat-option>
                              </mat-select>
                              <mat-error
                                 *ngFor="let error of AnnualPlanInfoForm.get('ProgramCategoryID').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                           <mat-form-field>
                              <mat-label>Funding Source</mat-label>
                              <mat-select (openedChange)="EmptyCtrl()" formControlName="FundingSourceID" matInput
                                 required>
                                 <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                                       (keydown)="$event.stopPropagation()" [formControl]="BSearchCtr" />
                                 </mat-optgrp>
                                 <mat-option>Select Funding Source</mat-option>
                                 <mat-option
                                    *ngFor="let s of FundingSourceData | like:['FundingSourceName',BSearchCtr.value]; "
                                    [value]="s.FundingSourceID">{{s.FundingSourceName}}</mat-option>
                              </mat-select>
                              <mat-error
                                 *ngFor="let error of AnnualPlanInfoForm.get('FundingSourceID').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }} </mat-error>
                           </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                           <mat-form-field>
                              <mat-label>Funding Category</mat-label>
                              <mat-select (openedChange)="EmptyCtrl()" formControlName="FundingCategoryID" matInput
                                 required>
                                 <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                                       (keydown)="$event.stopPropagation()" [formControl]="BSearchCtr" />
                                 </mat-optgrp>
                                 <mat-option>Select Funding Source</mat-option>
                                 <mat-option
                                    *ngFor="let s of FundingCategory | like:['FundingCategoryName',BSearchCtr.value]; "
                                    [value]="s.FundingCategoryID">{{s.FundingCategoryName}}</mat-option>
                              </mat-select>
                              <mat-error
                                 *ngFor="let error of AnnualPlanInfoForm.get('FundingCategoryID').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                           <mat-form-field>
                              <mat-label>Business Rule</mat-label>
                              <mat-select (openedChange)="EmptyCtrl()" formControlName="BusinessRuleType" matInput
                                 required>
                                 <mat-option *ngFor="let s of BusinessRuleType; "
                                    [value]="s.businessruletype">{{s.businessruletype}}</mat-option>
                              </mat-select>
                              <mat-error
                                 *ngFor="let error of AnnualPlanInfoForm.get('BusinessRuleType').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <!-- Program Type Dropdown -->
                        <div class="col-sm-3">
                           <mat-form-field>
                              <mat-label>Program Type</mat-label>
                              <mat-select (openedChange)="EmptyCtrl()" formControlName="ProgramTypeID" matInput
                                 required>
                                 <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                                       (keydown)="$event.stopPropagation()" [formControl]="BSearchCtr" /> </mat-optgrp>
                                 <mat-option>Select Program Type</mat-option>
                                 <mat-option *ngFor="let s of ProgramTypeData | like:['PTypeName',BSearchCtr.value]; "
                                    [value]="s.PTypeID">{{s.PTypeName}}</mat-option>
                              </mat-select>
                              <mat-error
                                 *ngFor="let error of AnnualPlanInfoForm.get('ProgramTypeID').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}</mat-error>
                           </mat-form-field>
                        </div>
                     </div>
                     <mat-action-row>
                        <a mat-stroked-button color="primary" class="ml-1" (click)="nextStep()">Next</a>
                     </mat-action-row>
                     <!-- </fieldset> -->
                  </mat-expansion-panel>
                  <!-- Funding Details -->
                  <!-- <mat-expansion-panel class='my-2 shadow' [expanded]="step === 1" (opened)="setStep(1)"
                  style="border:2px solid #fbb417">
                  <mat-expansion-panel-header>
                     <mat-panel-title style="font-weight:bold;color: #024285;">Funding Details </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row border-top">
                     <div class="col-sm-3">
                        <mat-form-field>
                           <mat-label>Funding Source</mat-label>
                           <mat-select (openedChange)="EmptyCtrl()" formControlName="FundingSourceID" matInput required>
                              <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                                    (keydown)="$event.stopPropagation()" [formControl]="BSearchCtr" />
                              </mat-optgrp>
                              <mat-option>Select Funding Source</mat-option>
                              <mat-option
                                 *ngFor="let s of FundingSourceData | like:['FundingSourceName',BSearchCtr.value]; "
                                 [value]="s.FundingSourceID">{{s.FundingSourceName}}</mat-option>
                           </mat-select>
                           <mat-error
                              *ngFor="let error of AnnualPlanInfoForm.get('FundingSourceID').errors | keyvalue">{{
                              getErrorMessage(error.key, error.value) }} </mat-error>
                        </mat-form-field>
                     </div>
                     <div class="col-sm-3">
                        <mat-form-field>
                           <mat-label>Funding Category</mat-label>
                           <mat-select (openedChange)="EmptyCtrl()" formControlName="FundingCategoryID" matInput
                              required>
                              <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                                    (keydown)="$event.stopPropagation()" [formControl]="BSearchCtr" />
                              </mat-optgrp>
                              <mat-option>Select Funding Source</mat-option>
                              <mat-option
                                 *ngFor="let s of FundingCategory | like:['FundingCategoryName',BSearchCtr.value]; "
                                 [value]="s.FundingCategoryID">{{s.FundingCategoryName}}</mat-option>
                           </mat-select>
                           <mat-error
                              *ngFor="let error of AnnualPlanInfoForm.get('FundingCategoryID').errors | keyvalue">{{
                              getErrorMessage(error.key, error.value) }}
                           </mat-error>
                        </mat-form-field>
                     </div>
                     <div class="col-sm-3">
                        <mat-form-field>
                           <mat-label>Business Rule</mat-label>
                           <mat-select (openedChange)="EmptyCtrl()" formControlName="BusinessRuleType" matInput
                              required>
                              <mat-option *ngFor="let s of BusinessRuleType; "
                                 [value]="s.businessruletype">{{s.businessruletype}}</mat-option>
                           </mat-select>
                           <mat-error
                              *ngFor="let error of AnnualPlanInfoForm.get('BusinessRuleType').errors | keyvalue">{{
                              getErrorMessage(error.key, error.value) }}
                           </mat-error>
                        </mat-form-field>
                     </div>
                  </div>
                  <mat-action-row>
                     <a mat-stroked-button color="warn" (click)="prevStep()">
                        <i class="fas fa-arrow-left"></i> Previous
                     </a>
                     <a mat-stroked-button color="primary" class="ml-1" (click)="nextStep()">
                        <i class="fas fa-arrow-right"></i> Next
                     </a>
                  </mat-action-row>
               </mat-expansion-panel> -->
                  <!-- Eligibility Criteria -->
                  <mat-expansion-panel class='my-2 shadow' [expanded]="step === 1" (opened)="setStep(1)"
                     style="border:2px solid #fbb417">
                     <mat-expansion-panel-header>
                        <mat-panel-title style="font-weight:bold;color: #024285;"> <span
                              class="number-icon">2</span>Trainee Eligibility Criteria
                        </mat-panel-title>
                     </mat-expansion-panel-header>
                     <div class="row border-top">
                        <div class="col-sm-3">
                           <mat-form-field>
                              <mat-label>Gender</mat-label>
                              <mat-select (openedChange)="EmptyCtrl()" formControlName="GenderID" matInput required>
                                 <mat-option>Select Gender</mat-option>
                                 <mat-option *ngFor="let s of GenderData | like:['GenderName',BSearchCtr.value]; "
                                    [value]="s.GenderID">{{s.GenderName}}</mat-option>
                              </mat-select>
                              <mat-error *ngFor="let error of AnnualPlanInfoForm.get('GenderID').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <div class="col-sm-3" hidden>
                           <mat-form-field>
                              <input formControlName="Stipend" NumberOnly value="0" placeholder="Enter Stipend" matInput
                                 required />
                              <mat-error *ngFor="let error of AnnualPlanInfoForm.get('Stipend').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <div class="col-sm-3" hidden>
                           <mat-form-field>
                              <mat-label>Stipend Mode</mat-label>
                              <mat-select (openedChange)="EmptyCtrl()" formControlName="StipendMode" matInput required>
                                 <mat-option>Stipend Mode</mat-option>
                                 <mat-option selected value="Digital">Digital</mat-option>
                                 <mat-option value="Manual">Manual</mat-option>
                              </mat-select>
                              <mat-error
                                 *ngFor="let error of AnnualPlanInfoForm.get('StipendMode').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                           <mat-form-field>
                              <mat-label>Minimum Education</mat-label>
                              <mat-select (openedChange)="EmptyCtrl()" formControlName="MinEducationID" matInput
                                 required>
                                 <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                                       (keydown)="$event.stopPropagation()" [formControl]="BSearchCtr" />
                                 </mat-optgrp>
                                 <mat-option *ngFor="let s of EducationData | like:['Education',BSearchCtr.value]; "
                                    [value]="s.EducationTypeID">{{s.Education}}</mat-option>
                              </mat-select>
                              <mat-error
                                 *ngFor="let error of AnnualPlanInfoForm.get('MinEducationID').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                           <mat-form-field>
                              <mat-label>Maximum Education</mat-label>
                              <mat-select (openedChange)="EmptyCtrl()" formControlName="MaxEducationID" matInput
                                 required>
                                 <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                                       (keydown)="$event.stopPropagation()" [formControl]="BSearchCtr" />
                                 </mat-optgrp>
                                 <mat-option *ngFor="let s of EducationData | like:['Education',BSearchCtr.value]; "
                                    [value]="s.EducationTypeID">{{s.Education}}</mat-option>
                              </mat-select>
                              <mat-error
                                 *ngFor="let error of AnnualPlanInfoForm.get('MaxEducationID').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                           <mat-form-field>
                              <mat-label>Minimum Age</mat-label>
                              <input formControlName="MinAge" placeholder="Enter Minimum Age" min="1" max="60"
                                 NumberOnly type="number" num matInput required />
                              <mat-error *ngFor="let error of AnnualPlanInfoForm.get('MinAge').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                           <mat-form-field>
                              <mat-label>Maximum Age</mat-label>
                              <input formControlName="MaxAge" placeholder="Enter Maximum Age" max="60" min="1"
                                 NumberOnly type="number" matInput required />
                              <mat-error *ngFor="let error of AnnualPlanInfoForm.get('MaxAge').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                     </div>
                     <mat-action-row>
                        <a mat-stroked-button color="warn" (click)="prevStep()">
                           <i class="fas fa-arrow-left"></i> Previous
                        </a>
                        <a mat-stroked-button color="primary" class="ml-1" (click)="nextStep()">
                           <i class="fas fa-arrow-right"></i> Next
                        </a>
                     </mat-action-row>
                  </mat-expansion-panel>
                  <!-- Trainee Support -->
                  <!-- <mat-expansion-panel class='my-2 shadow' [expanded]="step === 3" (opened)="setStep(3)"
                  style="border:2px solid #fbb417">
                  <mat-expansion-panel-header>
                     <mat-panel-title style="font-weight:bold;color: #024285;">Trainee Support items</mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row border-top">
                     <div class="col-sm-3">
                        <mat-form-field>
                           <mat-select multiple (openedChange)="EmptyCtrl()" required #Applicability matInput
                              formControlName="ApplicabilityID" placeholder="Trainee Support Items"
                              (selectionChange)="[optionClick($event,'Applicability')]">
                              <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                                    [formControl]="BSearchCtr" /></mat-optgrp>
                              <div class="select-all" *ngIf="!BSearchCtr.value">
                                 <mat-checkbox [checked]="SelectedAll_Applicability" id="Applicability"
                                    (change)="SelectAll($event,1,'ApplicabilityID','AnnualPlanInfoForm')">All</mat-checkbox>
                              </div>
                              <mat-option
                                 *ngFor="let s of TraineeSupportItems  |  like:['Applicability',BSearchCtr.value]; "
                                 [value]="s.ID">{{s.Applicability}}</mat-option>
                              <mat-option *ngFor="let s of TraineeSupportItems; " disabled hidden
                                 [value]="s.ID">{{s.Applicability}}</mat-option>
                           </mat-select>
                           <mat-error
                              *ngFor="let error of AnnualPlanInfoForm.get('ApplicabilityID').errors | keyvalue">{{
                              getErrorMessage(error.key, error.value) }}
                           </mat-error>
                        </mat-form-field>
                     </div>
                     <div class="col-sm-3">
                        <mat-form-field>
                           <mat-label>Trainee Support Item Cost</mat-label>
                           <input formControlName="TraineeSupportCost" matTooltip="Trainee Support Item Cost" min="1"
                              NumberOnly type="number" placeholder="Trainee Support Item Cost" matInput required />
                           <mat-error
                              *ngFor="let error of AnnualPlanInfoForm.get('TraineeSupportCost').errors | keyvalue">{{
                              getErrorMessage(error.key, error.value) }}
                           </mat-error>
                        </mat-form-field>
                     </div>
                  </div>
                  <mat-action-row>
                     <a mat-stroked-button color="warn" (click)="prevStep()">
                        <i class="fas fa-arrow-left"></i> Previous
                     </a>
                     <a mat-stroked-button color="primary" class="ml-1" (click)="nextStep()">
                        <i class="fas fa-arrow-right"></i> Next
                     </a>
                  </mat-action-row>
               </mat-expansion-panel> -->
                  <!-- Timeline -->
                  <!-- <mat-expansion-panel class='my-2 shadow' [expanded]="step === 4" (opened)="setStep(4)"
                  style="border:2px solid #fbb417">
                  <mat-expansion-panel-header>
                     <mat-panel-title style="font-weight:bold;color: #024285;">Timeline </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row border-top">
                     <div class="col-sm-3">
                        <mat-form-field>
                           <mat-label>Tentative Process Start Date</mat-label>
                           <input formControlName="TentativeProcessSDate"  [max]="maxDate"
                              [matDatepicker]="TentativeProcessSDate" readonly matInput required>
                           <mat-datepicker-toggle matSuffix [for]="TentativeProcessSDate"
                              matTooltip="Tentative Process Start Date"></mat-datepicker-toggle>
                           <mat-datepicker #TentativeProcessSDate disabled="false"></mat-datepicker>
                           <mat-error
                              *ngFor="let error of AnnualPlanInfoForm.get('TentativeProcessSDate').errors | keyvalue">{{
                              getErrorMessage(error.key, error.value) }}
                           </mat-error>
                        </mat-form-field>
                     </div>
                     <div class="col-sm-3">
                        <mat-form-field>
                           <mat-label>Class Start Date</mat-label>
                           <input formControlName="ClassStartDate" [max]="maxDate" [matDatepicker]="ClassStartDate"
                              readonly matInput required>
                           <mat-datepicker-toggle matSuffix [for]="ClassStartDate"
                              matTooltip="Class Start Date"></mat-datepicker-toggle>
                           <mat-datepicker #ClassStartDate disabled="false"></mat-datepicker>
                           <mat-error
                              *ngFor="let error of AnnualPlanInfoForm.get('ClassStartDate').errors | keyvalue">{{
                              getErrorMessage(error.key, error.value) }}
                           </mat-error>
                        </mat-form-field>
                     </div>
                  </div>
                  <mat-action-row>
                     <a mat-stroked-button color="warn" (click)="prevStep()">
                        <i class="fas fa-arrow-left"></i> Previous
                     </a>
                     <a mat-stroked-button color="primary" class="ml-1" (click)="nextStep()">
                        <i class="fas fa-arrow-right"></i> Next
                     </a>
                  </mat-action-row>
               </mat-expansion-panel> -->
                  <!-- Payment & Commitment -->
                  <mat-expansion-panel class='my-2 shadow' [expanded]="step === 2" (opened)="setStep(2)"
                     style="border:2px solid #fbb417">
                     <mat-expansion-panel-header>
                        <mat-panel-title style="font-weight:bold;color: #024285;"> <span
                              class="number-icon">3</span>Payment Commitment & Employment
                        </mat-panel-title>
                     </mat-expansion-panel-header>
                     <div class="row border-top">
                        <div class="col-sm-3">
                           <mat-form-field>
                              <mat-label>Payment Structure</mat-label>
                              <mat-select (openedChange)="EmptyCtrl()" formControlName="PaymentStructureID" matInput
                                 required>
                                 <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                                       (keydown)="$event.stopPropagation()" [formControl]="BSearchCtr" />
                                 </mat-optgrp>
                                 <mat-option>Select Funding Source</mat-option>
                                 <mat-option
                                    *ngFor="let s of PaymentStructureData | like:['Description',BSearchCtr.value]; "
                                    [value]="s.SAP_SchemeID">{{s.Description}}</mat-option>
                              </mat-select>
                              <mat-error
                                 *ngFor="let error of AnnualPlanInfoForm.get('PaymentStructureID').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                           <mat-form-field>
                              <mat-label>Employment Commitment</mat-label>
                              <mat-select (openedChange)="EmptyCtrl()" formControlName="EmploymentCommitment" matInput
                                 required>
                                 <mat-optgrp class="ddlsrchheader"> <input NumberOnly placeholder="Search"
                                       (keydown)="$event.stopPropagation()" [formControl]="BSearchCtr" />
                                 </mat-optgrp>
                                 <mat-option *ngFor="let s of CountZeroToHun | like:['CountValue', BSearchCtr.value]; "
                                    [value]="s.CountValue">
                                    {{ s.CountValue }}
                                 </mat-option>
                              </mat-select>
                              <mat-error
                                 *ngFor="let error of AnnualPlanInfoForm.get('EmploymentCommitment').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                     </div>
                     <mat-action-row>
                        <a mat-stroked-button color="warn" (click)="prevStep()">
                           <i class="fas fa-arrow-left"></i> Previous
                        </a>
                        <a mat-stroked-button color="primary" class="ml-1" (click)="nextStep()">
                           <i class="fas fa-arrow-right"></i> Next
                        </a>
                     </mat-action-row>
                  </mat-expansion-panel>
                  <!-- Location -->
                  <mat-expansion-panel class='my-2 shadow' [expanded]="step === 3" (opened)="setStep(3)"
                     style="border:2px solid #fbb417">
                     <mat-expansion-panel-header>
                        <mat-panel-title style="font-weight:bold;color: #024285;"> <span
                              class="number-icon">4</span>Geographic Targeting and Coverage
                        </mat-panel-title>
                     </mat-expansion-panel-header>
                     <div class="row border-top">
                        <div class="col-sm-3">
                           <mat-form-field>
                              <mat-label>Program Design On</mat-label>
                              <mat-select formControlName="SchemeDesignOn" matInput required
                                 (ngModelChange)="ChangeSchemeDesignOn($event)">
                                 <mat-option value="Province">Province</mat-option>
                                 <mat-option value="Cluster">Cluster</mat-option>
                                 <mat-option value="District">District</mat-option>
                              </mat-select>
                              <mat-error
                                 *ngFor="let error of AnnualPlanInfoForm.get('SchemeDesignOn').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                           <mat-form-field>
                              <mat-label>Province</mat-label>
                              <mat-select multiple (openedChange)="EmptyCtrl()" (ngModelChange)="GetCluster($event)"
                                 [required]="!PreadOnly" #Province matInput formControlName="ProvinceID"
                                 (selectionChange)="[optionClick($event,'Province')]">
                                 <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                                       [formControl]="PSearchCtr" /></mat-optgrp>
                                 <div class="select-all" *ngIf="!PSearchCtr.value">
                                    <mat-checkbox [checked]="ProvinceLength==ProvinceData.length" id="Province"
                                       (change)="SelectAll($event,2,'ProvinceID','AnnualPlanInfoForm')">All</mat-checkbox>
                                 </div>
                                 <mat-option *ngFor="let s of ProvinceData | like:['ProvinceName',PSearchCtr.value]"
                                    [value]="s.ProvinceID">{{s.ProvinceName}}</mat-option>
                                 <mat-option *ngFor="let s of ProvinceData" disabled hidden
                                    [value]="s.ProvinceID">{{s.ProvinceName}}</mat-option>
                              </mat-select>
                              <mat-error *ngFor="let error of AnnualPlanInfoForm.get('ProvinceID').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                           <mat-form-field>
                              <mat-label>Cluster</mat-label>
                              <mat-select multiple (openedChange)="EmptyCtrl()" (ngModelChange)="GetDistrict($event)"
                                 [required]="!CreadOnly" #Cluster matInput formControlName="ClusterID"
                                 (selectionChange)="[optionClick($event,'Cluster')]">
                                 <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                                       [formControl]="CSearchCtr" /></mat-optgrp>
                                 <div class="select-all" *ngIf="!CSearchCtr.value">
                                    <mat-checkbox [checked]="ClusterLength==ClusterData.length" id="Cluster"
                                       (change)="SelectAll($event,3,'ClusterID','AnnualPlanInfoForm')">All</mat-checkbox>
                                 </div>
                                 <mat-option *ngFor="let s of ClusterData | like:['ClusterName',CSearchCtr.value]"
                                    [value]="s.ClusterID">{{s.ClusterName}}</mat-option>
                                 <mat-option *ngFor="let s of ClusterData" disabled hidden
                                    [value]="s.ClusterID">{{s.ClusterName}}</mat-option>
                              </mat-select>
                              <mat-error *ngFor="let error of AnnualPlanInfoForm.get('ClusterID').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                           <mat-form-field>
                              <mat-label>District</mat-label>
                              <mat-select multiple (openedChange)="EmptyCtrl()" #District matInput
                                 formControlName="DistrictID" (selectionChange)="[optionClick($event,'District')]">
                                 <mat-optgrp class="ddlsrchheader"> <input placeholder="Search"
                                       [formControl]="DSearchCtr" /></mat-optgrp>
                                 <div class="select-all" *ngIf="!DSearchCtr.value">
                                    <mat-checkbox [checked]="DistrictLength==DistrictData.length" id="District"
                                       (change)="SelectAll($event,4,'DistrictID','AnnualPlanInfoForm')">All</mat-checkbox>
                                 </div>
                                 <mat-option *ngFor="let s of DistrictData | like:['DistrictName',DSearchCtr.value]"
                                    [value]="s.DistrictID">{{s.DistrictName}}</mat-option>
                                 <mat-option *ngFor="let s of DistrictData" disabled hidden
                                    [value]="s.DistrictID">{{s.DistrictName}}</mat-option>
                              </mat-select>
                              <mat-error *ngFor="let error of AnnualPlanInfoForm.get('DistrictID').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                     </div>
                     <mat-action-row>
                        <a mat-stroked-button color="warn" (click)="prevStep()">
                           <i class="fas fa-arrow-left"></i> Previous
                        </a>
                        <a mat-stroked-button color="primary" class="ml-1" (click)="nextStep()">
                           <i class="fas fa-arrow-right"></i> Next
                        </a>
                     </mat-action-row>
                  </mat-expansion-panel>
                  <!-- Attachments -->
                  <mat-expansion-panel class='my-2 shadow' [expanded]="step === 4" (opened)="setStep(4)"
                     style="border:2px solid #fbb417">
                     <mat-expansion-panel-header>
                        <mat-panel-title style="font-weight:bold;color: #024285;"> <span
                              class="number-icon">5</span>Program Objective &
                           Attachments</mat-panel-title>
                     </mat-expansion-panel-header>
                     <div class="row border-top">
                        <div class="col-sm-3" hidden>
                           <mat-form-field>
                              <mat-label>Approval Recommended Detail</mat-label>
                              <input formControlName="ApprovalRecDetail" placeholder="Approval Recommended Detail"
                                 matInput />
                              <mat-error
                                 *ngFor="let error of AnnualPlanInfoForm.get('ApprovalRecDetail').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <div class="col-sm-3" hidden>
                           <mat-label class="custom-label"
                              style=" position: relative;top: 4px;font-size: 11px;font-weight: 600;left: 7px;">Approval
                              Attachment
                           </mat-label>
                           <file-upload formControlName="ApprovalAttachment" maxSize="1024" [nopreview]="true"
                              matInput></file-upload>
                           <mat-error style="font-size: 11px;"
                              *ngFor="let error of AnnualPlanInfoForm.get('ApprovalAttachment').errors | keyvalue">{{
                              getErrorMessage(error.key, error.value) }}
                           </mat-error>
                        </div>
                        <div class="col-sm-3">
                           <mat-label class="custom-label"
                              style=" position: relative;top: 4px;font-size: 11px;font-weight: 600;left: 7px;">TORs |
                              SOW
                              Attachment
                           </mat-label>
                           <file-upload formControlName="AttachmentTORs" maxSize="1024" [nopreview]="true"
                              matInput></file-upload>
                           <mat-error style="font-size: 11px;"
                              *ngFor="let error of AnnualPlanInfoForm.get('AttachmentTORs').errors | keyvalue">{{
                              getErrorMessage(error.key, error.value) }}
                           </mat-error>
                        </div>
                        <div class="col-sm-1" *ngIf="readOnly==true">
                           <a *ngIf="TORAndSOWEvidence !='' "
                              style="cursor: pointer;background: #eceae7  !important;font-size: 1.3rem !important;position: relative !important;top: 20px !important;right: 10px !important;border-radius: 6px !important "
                              (click)="ShowPreview(TORAndSOWEvidence)" color="primary"
                              matTooltip="Preview uploaded document" class="file-lable">
                              <mat-icon style="position: relative;top: 4px;cursor: pointer;">get_app</mat-icon>
                           </a>
                        </div>
                        <div class="col-sm-3">
                           <mat-label class="custom-label"
                              style=" position: relative;top: 4px;font-size: 11px;font-weight: 600;left: 7px;">PC-1
                              Attachment
                           </mat-label>
                           <file-upload formControlName="AttachmentCriteria" maxSize="1024" [nopreview]="true"
                              matInput></file-upload>
                           <mat-error style="font-size: 11px;"
                              *ngFor="let error of AnnualPlanInfoForm.get('AttachmentCriteria').errors | keyvalue">{{
                              getErrorMessage(error.key, error.value) }}
                           </mat-error>
                        </div>
                        <div class="col-sm-1" *ngIf="readOnly==true">
                           <a *ngIf="CriteriaEvidence !='' "
                              style="cursor: pointer;background: #eceae7  !important;font-size: 1.3rem !important;position: relative !important;top: 20px !important;right: 10px !important;border-radius: 6px !important "
                              (click)="ShowPreview(CriteriaEvidence)" color="primary"
                              matTooltip="Preview uploaded document" class="file-lable">
                              <mat-icon style="position: relative;top: 4px;cursor: pointer;">get_app</mat-icon>
                           </a>
                        </div>
                     </div>
                     <!-- </fieldset> -->
                     <!-- Program Objective -->
                     <!-- <fieldset class="border sub-fieldset">
                     <legend>Program Objective</legend> -->
                     <div class="row border-top">
                        <div class="col-sm-12">
                           <mat-form-field>
                              <mat-label>Description</mat-label>
                              <input formControlName="Description" placeholder="Description" matInput required />
                              <mat-error
                                 *ngFor="let error of AnnualPlanInfoForm.get('Description').errors | keyvalue">{{
                                 getErrorMessage(error.key, error.value) }}
                              </mat-error>
                           </mat-form-field>
                        </div>
                     </div>
                     <mat-action-row>
                        <a mat-stroked-button color="warn" (click)="prevStep()">
                           <i class="fas fa-arrow-left"></i> Previous
                        </a>
                        <a mat-stroked-button color="primary" class="ml-1" (click)="nextStep()">
                           <i class="fas fa-arrow-right"></i> End
                        </a>
                     </mat-action-row>
                  </mat-expansion-panel>
                  <!-- Form Actions -->
                  <mat-action-row>
                     <a *ngIf="FinalSubmit==false" class="mr-1" color="primary" mat-stroked-button
                        [disabled]="IsDisabled" (click)="IsFinalSubmit()">
                        <i class="fas fa-check-circle mr-1"></i>
                        Final Submit
                     </a>
                     <!-- Draft Save Button -->
                     <a *ngIf="FinalSubmit==false" (click)="SaveAnnualPlanInfo()" class="mr-1" color="primary"
                        mat-stroked-button [disabled]="IsDisabled">
                        <i class="fas fa-save mr-1"></i>
                        Draft Save
                     </a>
                     <!-- Reset Button -->
                     <a class="mr-1" type="reset" color="warn" matTooltip="Reset form" (click)="ResetForm()"
                        mat-stroked-button>
                        <i class="fas fa-sync-alt mr-1"></i>
                        Reset
                     </a>
                  </mat-action-row>
                  <!-- </fieldset> -->
               </form>
            </mat-accordion>
         </mat-tab>
         <mat-tab label="Saved Scheme List">
            <mat-toolbar *ngIf="TapIndex==1" color="accent" class=" slim slim m-1">
               <mat-icon class="material-icons"> view_comfy </mat-icon>
               <span class="spacer">Manage and View All</span>
               <input placeholder="Search" (keyup)="applyFilter($event)" class="search" />
               <button mat-raised-button style="float:right;margin: 0px 7px;background: #c3d9ff"
                  (click)="DataExcelExport()">
                  <i class="fas fa-file-export"></i> Export Excel</button>
            </mat-toolbar>
            <div class="table-responsive">
               <mat-table [dataSource]="TablesData" matSort class="table table-bordered m-0">
                  <ng-container *ngFor="let column of TableColumns">
                     <!-- Program Column (Custom Title: Scheme Name) -->
                     <ng-container *ngIf="column === 'Program'; else otherColumns" [matColumnDef]="column">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Scheme Name</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                           {{ row[column] }}
                        </mat-cell>
                     </ng-container>
                     <!-- Template for all other columns -->
                     <ng-template #otherColumns>
                        <!-- ProgramCode Column (Custom Title: Scheme Code) -->
                        <ng-container *ngIf="column === 'ProgramCode'; else defaultColumns" [matColumnDef]="column">
                           <mat-header-cell *matHeaderCellDef mat-sort-header>Scheme Code</mat-header-cell>
                           <mat-cell *matCellDef="let row">
                              {{ row[column] }}
                           </mat-cell>
                        </ng-container>
                        <!-- Default Column Rendering -->
                        <ng-template #defaultColumns>
                           <ng-container [matColumnDef]="column">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>
                                 {{ camelCaseToWords(column) }}
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row">
                                 <!-- Default Text Cell -->
                                 <ng-container
                                    *ngIf="column !== 'Actions'  && column !== 'ProgramBudget'    && column !== 'AttachmentCriteriaEvidence'  && column !== 'AttachmentTORsEvidence'  && column !== 'ApprovalEvidence'">
                                    &nbsp;{{ row[column] }}</ng-container>
                                 <!-- Action Buttons -->
                                 <ng-container *ngIf="column === 'Actions'">
                                    <a mat-button color="primary" (click)="UpdateRecord(row)">
                                       <mat-icon>edit</mat-icon> Edit
                                    </a>
                                    <a mat-button color="primary" (click)="openProgramReviewDialogue(row)">
                                       <mat-icon>rate_review</mat-icon> Review
                                    </a>
                                 </ng-container>
                                 <ng-container *ngIf="column === 'ProgramBudget'">
                                    {{row[column] | number}}
                                 </ng-container>
                                 <!-- Document Attachments -->
                                 <ng-container
                                    *ngIf="column === 'AttachmentCriteriaEvidence' || column === 'AttachmentTORsEvidence'  || column === 'ApprovalEvidence'">
                                    &nbsp;
                                    <a style="cursor: pointer;" (click)="ShowPreview(row[column])"
                                       matTooltip="Preview document" class="file-label" color="primary">
                                       <mat-icon>download</mat-icon>
                                    </a>
                                 </ng-container>
                              </mat-cell>
                           </ng-container>
                        </ng-template>
                     </ng-template>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="TableColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: TableColumns;"></mat-row>
               </mat-table>
               <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,20, 100]"></mat-paginator>
            </div>
         </mat-tab>
      </mat-tab-group>
   </mat-card-content>
</mat-card>